
<div class="list-collections clearfix">
  {% assign linklist = linklists[collection.handle] %}
  {% capture new_row %}
      <br class="clear product_clear" />
  {% endcapture %}

  {% for link in linklist.links %}

    {% comment %}
      This section supports linking to collections, products, pages, and blogs. It will use the first image found in the page content or blog article.
    {% endcomment %}

    {% assign link_item = link.object %}
    {% assign link_image = '' %}
    {% capture link_title %}{{ link.title | escape }}{% endcapture %}

    {% if sidebar %}
      <div class="{% if collections_per_row == 2 %}six columns {% cycle 'alpha', 'omega' %}{% elsif collections_per_row == 3 %}four columns {% cycle 'alpha', '', 'omega' %}{% else %}three columns {% cycle 'alpha', '', '', 'omega' %}{% endif %} thumbnail {% cycle 'even', 'odd' %} align-height--false">
    {% else %}
      <div class="{% if collections_per_row == 2 %}eight columns {% cycle 'alpha', 'omega' %}{% elsif collections_per_row == 3 %}one-third column {% cycle 'alpha', '', 'omega' %}{% else %}four columns {% cycle 'alpha', '', '', 'omega' %}{% endif %} thumbnail {% cycle 'even', 'odd' %} align-height--false">
    {% endif %}

      <div class="product-wrap">
        {% capture link_image %}
          {% if link.type == 'collection_link' %}
            {% if link_item.image %}
                <img  src="{{ link_item.image.src | img_url: '100x' }}"
                      class="lazyload {{ settings.image_loading_style }}"
                      alt="{{ link_title }}"
                      style="max-width: {{- link_item.image.width -}}px;"
                      data-sizes="auto"
                      data-src="{{ link_item.image.src | img_url: '1160x' }}"
                      data-srcset=" {{ link_item.image.src | img_url: '1160x' }} 1160w,
                                    {{ link_item.image.src | img_url: '728x' }} 728w,
                                    {{ link_item.image.src | img_url: '580x' }} 580w,
                                    {{ link_item.image.src | img_url: '344x' }} 344w,
                                    {{ link_item.image.src | img_url: '280x' }} 280w,
                                    {{ link_item.image.src | img_url: '172x' }} 172w"
                      />
              {% else %}
                <img  src="{{ link_item.products.first.featured_image | img_url: '100x' }}"
                      class="lazyload {{ settings.image_loading_style }}"
                      alt="{{ link_title }}"
                      style="max-width: {{- link_item.products.first.featured_image.width -}}px;"
                      data-sizes="auto"
                      data-cool="true"
                      data-src="{{ link_item.products.first.featured_image | img_url: '1160x' }}"
                      data-srcset=" {{ link_item.products.first.featured_image | img_url: '1160x'}} 1160w,
                                    {{ link_item.products.first.featured_image | img_url: '728x' }} 728w,
                                    {{ link_item.products.first.featured_image | img_url: '580x' }} 580w,
                                    {{ link_item.products.first.featured_image | img_url: '344x' }} 344w,
                                    {{ link_item.products.first.featured_image | img_url: '280x' }} 280w,
                                    {{ link_item.products.first.featured_image | img_url: '172x' }} 172w"
                      />
              {% endif %}
            {% elsif link.type == 'product_link' %}
              <img  src="{{ link_item.featured_image | product_img_url: '100x' }}"
                    alt="{{ link_title }}"
                    class="lazyload {{ settings.image_loading_style }}"
                    style="max-width: {{- link_item.featured_image.width -}}px;"
                    data-sizes="auto"
                    data-src="{{ link_item.featured_image | product_img_url: '1160x' }}"
                    data-srcset=" {{ link_item.featured_image | product_img_url: '1160x' }} 1160w,
                                  {{ link_item.featured_image | product_img_url: '728x' }} 728w,
                                  {{ link_item.featured_image | product_img_url: '560x' }} 560w,
                                  {{ link_item.featured_image | product_img_url: '344x' }} 344w,
                                  {{ link_item.featured_image | product_img_url: '280x' }} 280w,
                                  {{ link_item.featured_image | product_img_url: '172x' }} 172w"
                     />
            {% elsif link.type == 'page_link' %}
              {% if link_item.content contains "<img" %}
                {% assign src = link_item.content | split: 'src="' %}
                {% assign src = src[1] | split: '"' | first %}
                {% if src %}
                  {% assign link_image = src %}
                  <img  src="{{ link_image }}"
                        alt="{{ link_title }}"
                        class="lazyload {{ settings.image_loading_style }}"
                         />
                {% endif %}
              {% endif %}
            {% elsif link.type == 'blog_link' %}
              {% if link_item.articles.first.image %}
                <img  src="{{ link_item.articles.first.image | img_url: '100x' }}"
                      alt="{{ link_title }}"
                      class="lazyload {{ settings.image_loading_style }}"
                      style="max-width: {{- link_item.articles.first.image.width -}}px;"
                      data-sizes="auto"
                      data-src="{{ link_item.articles.first.image | img_url: '580x' }}"
                      data-srcset=" {{ link_item.articles.first.image | img_url: '1160x' }} 1160w,
                                    {{ link_item.articles.first.image | img_url: '728x' }} 728w,
                                    {{ link_item.articles.first.image | img_url: '580x' }} 580w,
                                    {{ link_item.articles.first.image | img_url: '344x' }} 344w,
                                    {{ link_item.articles.first.image | img_url: '280x' }} 280w,
                                    {{ link_item.articles.first.image | img_url: '172x' }} 172w"
                  />
              {% elsif link_item.articles.first.content contains "<img" %}
                {% assign src = link_item.articles.first.content | split: 'src="' %}
                {% assign src = src[1] | split: '"' | first %}
                {% if src %}
                  {% assign link_image = src %}
                  <img  src="{{ link_image }}"
                        alt="{{ link_title }}"
                        class="lazyload {{ settings.image_loading_style }}"
                         />
                {% endif %}
              {% endif %}
            {% endif %}
          {% endcapture %}

          {{ link_image }}
          <a href="{{ link.url }}" title="{{ link_title }}" class="hidden-product-link">{{ link_title }}</a>
          {% if settings.thumbnail_hover_enabled %}
              <div class="thumbnail-overlay">
              <a href="{{ link.url }}" title="{{ link_title }}" class="hidden-product-link">{{ link_title }}</a>
                <div class="info">
                    <div class="collection-details">
                      <span class="title">{{ link_title }}</span>
                    </div>
                    <a href="{{ link.url }}" title="{{ link_title }}"><span class="view_all">{{ 'collections.general.view_all' | t }}</span></a>
                </div>
              </div>
          {% endif %}
          <a class="collection-info__caption {% if settings.thumbnail_hover_enabled %}hidden{% endif %}" href="{{ link.url }}" itemprop="url">
            <span class="title">{{ link_title | split: ":" | last }}</span>
          </a>
        </div>
      </div>

      {% if collections_per_row == 2 %}
        {% cycle '', new_row %}
      {% elsif collections_per_row == 3 %}
        {% cycle '', '', new_row %}
      {% elsif collections_per_row == 4 %}
        {% cycle '', '', '', new_row %}
      {% endif %}

    {% endfor %}
  </div>
