<script>
  //Brand Page
  {% if template == "page.vendorlist" %}
    $(window).on('load', function() {
      //Vendorlist
      'abcdefghijklmnopqrstuvwxyz'.split('').forEach(function(letter){
        $("ul.vendor-list > li > a[href^='/collections/" + letter + "']").parent().addClass( "brand-vendor-" + letter + "" );
        $("ul.vendor-list > li > a[href^='/collections/vendors?q=" + letter + "' i ]").parent().addClass( "brand-vendor-" + letter + "" );
        $(".brand-vendor-" + letter + " > a").wrapAll('<ul class="brand-letter">').wrap('<li>');
        $("li[class^='brand-vendor-" + letter + "']:first").attr("id", "brand-vendor-" + letter + "");
        $("#brand-vendor-" + letter + "").attr("data-before","" + letter + "");
      });
    });
  {% endif %}

  //Activity Page
  {% if template == "page.allactivities" %}
    $(window).on('load', function() {
      $(".activity-tab").each(function(){
        if ($(this).find(".activity-sub").length <= 0){
          $(this).hide();
        }
      })
    });
  {% endif %}

  //Product page
  {% if template == "product" %}
    $(window).on('load', function() {
      // Add product image dimensions to parent class for dynamic format
      $('.product-image-size').each(function(){
        var width = $(this).width(); //jQuery width method
        var height = $(this).height(); //jQuery height method
        if(width < height){
          $(this).closest('.gallery-cell').addClass('portrait');
        }else{
          $(this).closest('.gallery-cell').addClass('landscape');
        }
      });
      // Float product videos in product thumbnail gallery to the right
      $('.gallery-cell img').each(function(){
        var img_src_video = $(this).attr('src'); //jQuery get img src
        if (img_src_video.indexOf("video") >= 0){
          $(this).closest('.gallery-cell').addClass('end-of-list');
        }
      });
      // $('.gallery-cell:has(img[alt*="iframe"])').addClass('end-of-list');
      //Select Dropdown for Size
      //Initial clone
      $('.custom-swatch.size > .swatch-size.selected > input').each(function(){
        var slclab = $(this).next().children();
        var trig = $(this).parent().parent().prev();
        if($(this).length > 0) {
          $(trig).append($(slclab).clone().removeClass('swatch-label').removeAttr('for'));
        };
      });
      //Variant change slect
      $('.primary-product-form .custom-swatch > div > input').each(function(){
        $(this).change(function(){
          $(this).parent().addClass('selected');
          $(this).parent().siblings().removeClass('selected');
        });
      });
      //Selection change
      $('.primary-product-form .custom-swatch.size > .swatch-size > input').each(function(){
        $(this).change(function(){
          var lab = $(this).next().children();
          var trigg = $(this).parent().parent().prev();
          // $(this).parent().siblings().removeClass('selected');
          $(this).parent().parent().removeClass('open-select');
          $(this).parent().parent().prevAll('.option_overlay').removeClass('overlay-open');
          $('html').removeClass('select-is-open');
          $(trigg).append($(lab).clone().removeClass('swatch-label').removeAttr('for'));
          $(trigg).children().last().prevAll().remove();
        });
      });
      //Color
      function sample() {
        var labs = $('.primary-product-form .custom-swatch.size > .swatch-size.selected > div > label');
        var triggc = $('.primary-product-form .option_trigger');
        $(triggc).children().remove();
        $(triggc).append($(labs).clone().removeClass('swatch-label').removeAttr('for'));
      }
      $(function() {
        $('.primary-product-form .custom-swatch.color > .swatch-color > input').each(function(){
          $(this).change(function(){
            setTimeout(sample, 200);
          });
        });
      });
      //Clicks
      $('div.option_trigger').on('click', function() {
        $(this).next().toggleClass('open-select');
        $(this).prev().toggleClass('overlay-open');
        $('html').toggleClass('select-is-open');
      });
      $('body').on('click', '.swatch-size.selected > input', function() {
        $(this).closest('.custom-swatch.size.open-select').removeClass('open-select');
        $(this).parent().parent().prevAll('.option_overlay').removeClass('overlay-open');
        $('html').removeClass('select-is-open');
      });
      $('body').on('click', '.option_overlay.overlay-open', function() {
        $(this).removeClass('overlay-open');
        $('html').removeClass('select-is-open');
        $(this).nextAll('.custom-swatch.size.open-select').removeClass('open-select');
      });
    });
    $(window).on('load resize', function() {
      // Instagram Widget
      if ($('.stamped-instagram-media-block-template').prop('scrollWidth') > $('.stamped-instagram-media-block-template').width() ) {
        $('.stamped-instagram-nav').css('opacity', '1');
      }
      else {
       $('.stamped-instagram-nav').css('opacity', '0');
      }
    });
  {% endif %}

  //Search and Colection
  {% if template == "search" and "collection" %}
    $('body').on('opened', '.js-quick-shop', function () {
      $('.gallery-cell img').each(function(){
        var img_src_video = $(this).attr('src'); //jQuery get img src
        if (img_src_video.indexOf("video") >= 0){
          $(this).closest('.gallery-cell').addClass('end-of-list');
        }
      })
      // $('.gallery-cell:has(img[alt*="iframe"])').addClass('end-of-list');
    });
  {% endif %}

  //Collection
  {% if template == "collection" %}
    $(window).on('load', function(){
      $('h4#sub-menu-item').each(function(){
        if($(this).next('h4#arrow-menu-item').next('ul').find('li').length == 0){
          $(this).next('h4#arrow-menu-item').css('display','none');
         }
      });
      $('a.subcategory').each(function(){
        if($(this).hasClass('active')) {
          $(this).closest('ul.second-level').css('display','block').addClass('opened');
          $(this).closest('.toggle_list.first-level').css('display','block').addClass('opened');
         }
      });
      $('ul.toggle_list').each(function(){
        if($(this).hasClass('opened')) {
          $(this).prev().addClass('active');
         }
      });
    });
    $(window).on('resize', function() {
      if($(window).width() < 769) {
        $('div.mobile-filter').addClass('toggle_list');
      }
      else{
        $('div.mobile-filter').removeClass('toggle_list').css({ display: "block" });
      }
    });
  {% endif %}

  //Jobs
  {% if page.handle contains "job-" %}
    $(window).on('load', function(){
      $('head').append($('#job-seo'));
    });
  {% endif %}
</script>

{% if template == "product" %}

  {% include 'back-in-stock-helper' %}

{% endif %}
