{% if type == 'block' %}
  {% assign newsletter_title = block.settings.newsletter_title %}
  {% assign newsletter_text = block.settings.newsletter_text %}
  {% assign display_first_name = block.settings.display_first_name %}
  {% assign display_last_name = block.settings.display_last_name %}
  {% assign newsletter_section_text_align = block.settings.newsletter_section_text_align %}
  {% assign image = block.settings.image %}
{% else %}
  {% assign newsletter_title = section.settings.newsletter_title %}
  {% assign newsletter_text = section.settings.newsletter_text %}
  {% assign display_first_name = section.settings.display_first_name %}
  {% assign display_last_name = section.settings.display_last_name %}
  {% assign newsletter_section_text_align = section.settings.newsletter_section_text_align %}
  {% assign image = section.settings.image %}
{% endif %}

<div class="newsletter_section
            {% if display_first_name and display_last_name %}newsletter-both-names--true {% else %}newsletter-both-names--false {% endif %}
            {% if image != nil %}newsletter-bgr-true{% endif %}
            text-align--{{newsletter_section_text_align}}
            lazyload
            {{ settings.image_loading_style }}"
      {% if image != nil %}style="background-image: url(https:{{ image | img_url: '1600x'}})"{% endif %}>
  <div class="container">
    <div class="{% if newsletter_section_text_align == "center" %}offset-by-three{% elsif newsletter_section_text_align == "right" %} offset-by-six{% endif %} ten columns section_form">
      {% if newsletter_title != blank %}
        <h2 class="title">{{ newsletter_title }}</h2>
      {% endif %}
      {% if newsletter_text != blank %}
        <div class="newsletter-text">{{ newsletter_text }}</div>
      {% endif %}
      <div class="newsletter">

        <form id="email_signup" class="klaviyo_condensed_styling klaviyo_condensed_float klaviyo_condensed_embed_LmfSYa" action="//manage.kmail-lists.com/subscriptions/subscribe" data-ajax-submit="//manage.kmail-lists.com/ajax/subscriptions/subscribe" method="GET" target="_blank" novalidate="novalidate">
          <input type="hidden" name="g" value="LmfSYa">
          <div class="klaviyo_field_group">
            <input type="email" value="" name="email" id="k_id_email" placeholder="Your email" />
          </div>
          <div class="klaviyo_messages">
            <div class="success_message" style="display:none;"></div>
            <div class="error_message" style="display:none;"></div>
          </div>
          <div class="klaviyo_form_actions">
            <button type="submit" class="klaviyo_submit_button">Subscribe</button>
          </div>
        </form>
        <style type="text/css">
          .klaviyo_condensed_styling,
          .klaviyo_styling {
            max-width: inherit;
          }
          .klaviyo_condensed_float .klaviyo_field_group {
            width: 100%;
            margin-right: 0;
          }
          .klaviyo_condensed_float .klaviyo_field_group,
          .klaviyo_condensed_float .klaviyo_form_actions,
          .klaviyo_condensed_float .klaviyo_messages {
            float: none;
          }
          .klaviyo_styling.klaviyo_condensed_embed_LmfSYa,
          .klaviyo_condensed_styling.klaviyo_condensed_embed_LmfSYa {
            color: #F2F3F3;
          }
          .klaviyo_styling.klaviyo_condensed_embed_LmfSYa label,
          .klaviyo_condensed_styling.klaviyo_condensed_embed_LmfSYa label {
            color:#192021;
          }
          .klaviyo_styling.klaviyo_condensed_embed_LmfSYa input[type=text],
          .klaviyo_styling.klaviyo_condensed_embed_LmfSYa input[type=email],
          .klaviyo_condensed_styling.klaviyo_condensed_embed_LmfSYa input[type=text],
          .klaviyo_condensed_styling.klaviyo_condensed_embed_LmfSYa input[type=email] {
            border-radius: 1px;
          }
          .klaviyo_styling.klaviyo_condensed_embed_LmfSYa .klaviyo_submit_button,
          .klaviyo_condensed_styling.klaviyo_condensed_embed_LmfSYa .klaviyo_submit_button {
            background-color:#DF611C;
            border-radius: 1px;
            margin: 0 auto;
            font-weight: normal;
            font-size: 14px;
            letter-spacing: 2px;
          }
          .klaviyo_styling.klaviyo_condensed_embed_LmfSYa .klaviyo_submit_button:hover,
          .klaviyo_condensed_styling.klaviyo_condensed_embed_LmfSYa .klaviyo_submit_button:hover {
            background-color:#e77c42;
          }
          .klaviyo_header,
          .klaviyo_subheader {
            font-weight: bold;
            font-size: 18px;
            font-style: italic;
          }
        </style>
        <script type="text/javascript" src="//www.klaviyo.com/media/js/public/klaviyo_subscribe.js"></script>
        <script type="text/javascript">
          KlaviyoSubscribe.bootstrap({ assume_jquery: true });
          KlaviyoSubscribe.attachToForms('#email_signup', {
            hide_form_on_success: true
          });
        </script>
      </div>
    </div>
  </div>
</div>
