<div id="popup-returns" class="remodal custom-modal" data-remodal-id="popup-returns" data-remodal-options="hashTracking: false">
  <a data-remodal-action="close" class="remodal-close"></a>
  <h5>{{ pages["returns"].title }}</h5>
  <div class="feature_divider"></div>
  {{ pages["returns"].content }}
</div>
