<style type="text/css">
  .active-color {
    color: #df611c;
  }
</style>


{% if featured %}
  {% assign collection = collections[featured_collection] %}
{% endif %}



{% if section.blocks.size > 0 %}
  <div class="sidebar four columns toggle-all--{{ section.settings.toggle }}">
    <h4 class="toggle mobile-filter">Filters<span class="right icon-down-arrow"></span></h4>
    <div class="sidebar-wrap mobile-filter">
      {% for block in section.blocks %}
        <div class="sidebar-block
                    {% if block.settings.filter_name == 'Color' %}color-filter-group{% endif %}
                    {% if block.settings.filter_name == 'Brand' %}brand-filter-group{% endif %}
                    {% if block.settings.filter_name == 'Department' %}department-filter-group{% endif %}
                    " {{ block.shopify_attributes }}>
          {% if block.type == 'menu' %}
            {% if block.settings.custom_menu_linklist != blank %}
          	  <!-- <h4 style="display:inline-block;" class="first-level-title"><a href="{{ shop.url}}/collections/{{ linklists[collection.metafields.linklist.handle].handle }}" title="{{ linklists[collection.metafields.linklist.handle].title }}">{{ linklists[collection.metafields.linklist.handle].title }}</a><h4 class="toggle" style="display:inline;"><span class="right icon-down-arrow"></span></h4></h4> -->
              <h4 style="display:inline-block;">{{ linklists[collection.metafields.linklist.handle].title }}<h4 class="toggle toggle-first-level" style="display:inline;"><span class="right icon-down-arrow"></span></h4></h4>

              <ul class="toggle_list second-level" style="margin-left:10px;">
                {% for link in linklists[collection.metafields.linklist.handle].links %}
                {% assign collection_link = link.url | remove: '/collections/' %}
                {% if collections[collection_link].products_count > 0 %}
                  <li>
                    <h4 id="sub-menu-item" class="second-level-title"><a {% if link.active %}class="active"{% endif %} href="{{ link.url }}" title="{{ link.title | escape }}">{{ link.title }}</a>{%if link.levels > 0 %}<h4 id="arrow-menu-item" class="toggle toggle-second-level" style="display:inline;"><span class="right icon-down-arrow" style="margin-top: 4px;"></span></h4>{% endif %}</h4>

                    <ul class="toggle_list third-level">
                      {% for sub_link in link.links %}
					  {% assign sub_collection_link = sub_link.url | remove: '/collections/' %}
                	  {% if collections[sub_collection_link].products_count > 0 %}
                      <li>
                        <h4 id="sub-sub-menu-item" class="third-level-title"><a {% if sub_link.active %}class="active"{% endif %} href="{{ sub_link.url }}" title="{{ sub_link.title | escape }}">{{ sub_link.title }}</a>{%if sub_link.levels > 0 %}<h4 id="arrow-menu-item" class="toggle" style="display:inline;"><span class="right icon-down-arrow" style="margin-top: 4px;"></span></h4>{% endif %}</h4>
                        <ul class="toggle_list fourth-level">
                          {% for sub_sub_link in sub_link.links %}
                        {% assign sub_sub_collection_link = sub_sub_link.url | remove: '/collections/' %}
                        {% if collections[sub_sub_collection_link].products_count > 0 %}
                          <li>
                            <a {% if sub_sub_link.active %}class="subcategory active"{% else %} class="subcategory" {% endif %} href="{{ sub_sub_link.url }}" title="{{ sub_sub_link.title }}">{{ sub_sub_link.title }}</a>

                            <ul class="fifth-level">
                            {% assign link_collection = sub_sub_link.url | remove: '/collections/' %}
                            {% if current_tags %}
                              {% for tag in current_tags %}
                                {% unless tag contains 'meta-' %}
                                {% assign tag_handle = tag | split: ":" | last %}
                                {% endunless %}
                              {% endfor %}
                            {% endif %}
                            {% for tag in collections[link_collection].all_tags %}
                          {% if tag contains 'Hierarchy2.5:' %}
                              {% assign tag_title = tag | remove: 'Hierarchy2.5:' %}
                              <li><a {% if tag_handle == tag_title and canonical_url contains sub_link.url %}class="active"{% endif %} href="{{ collections[link_collection].url }}/{{ tag | handleize }}">{{ tag_title }}</a></li>
                              {% endif %}
                            {% endfor %}
                            </ul>

                          </li>
                          {% endif %}
                          {% endfor %}
                        </ul>

                      </li>
                      {% endif %}
                      {% endfor %}
                    </ul>

                  </li>
                {% endif %}
                {% endfor %}
              </ul>
            {% else %}
              <h4 class="toggle">Menu title<span class="right icon-down-arrow"></span></h4>
              <ul class="toggle_list">
                <li><p>{{ 'homepage.onboarding.no_content' | t }}</p></li>
              </ul>
            {% endif %}

          {% elsif block.type == 'page' %}
            {% if block.settings.content_page != blank %}
              <h4 class="toggle">{{ pages[block.settings.content_page].title }}<span class="right icon-down-arrow"></span></h4>
              <ul class="toggle_list content_block">
                <li>{{ pages[block.settings.content_page].content }}</li>
              </ul>
            {% else %}
              <h4 class="toggle">Page title<span class="right icon-down-arrow"></span></h4>
              <ul class="toggle_list">
                <li><p>{{ 'homepage.onboarding.no_content' | t }}</p></li>
              </ul>
            {% endif %}

		  {% elsif block.type == 'filter_by_tag' %}
            {% if template contains 'product' %}
              {% assign tag_count = product.tags | size %}
              {% if tag_count > 0 %}
                <h4 class="toggle">{{ 'collections.sidebar.tags' | t }}<span class="right icon-down-arrow"></span></h4>
                <ul class="toggle_list">
                  {% for tag in product.tags %}
                    {% unless tag contains 'meta-' %}
                      <li>
                        <a {% if current_tags contains tag %}class="active"{% endif %} href="/collections/{% if collection.handle != blank %}{{ collection.handle }}{% else %}all{% endif %}/{{ tag | handleize }}">{{ tag }}</a>
                      </li>
                    {% endunless %}
                  {% endfor %}
                </ul>
              {% endif %}
            {% else %}
              {% assign tag_count = collection.all_tags | size %}
              {% if tag_count > 0 %}
                <h4 class="toggle">{{ 'collections.sidebar.tags' | t }}<span class="right icon-down-arrow"></span></h4>
                <ul class="toggle_list">
                  <li>
                    <a {% unless current_tags %}class="active--default"{% endunless %} href="{% if collection.handle == "all" %}/collections/all{% else %}{{ collection.url }}{% endif %}">All {{ collection.title }}</a>
                  </li>
                  {% for tag in collection.all_tags %}
                    {% unless tag contains 'meta-' %}
                      <li>
                        <a {% if current_tags contains tag %}class="active"{% endif %} href="/collections/{% if collection.handle != blank %}{{ collection.handle }}{% else %}all{% endif %}/{{ tag | handleize }}">{{ tag }}</a>
                      </li>
                    {% endunless %}
                  {% endfor %}
                </ul>
              {% endif %}
            {% endif %}

          {% elsif block.type == 'filter_by_type' %}
            <h4 class="toggle">{{ 'collections.sidebar.product_types' | t }}<span class="right icon-down-arrow"></span></h4>
            <ul class="toggle_list">
              {% for product_type in shop.types %}
                <li {% if product_type == collection.title %}class="active"{% endif %}>{{ product_type | link_to_type }}</li>
              {% endfor %}
            </ul>

          {% elsif block.type == 'filter_by_collection' %}
			<h4 class="toggle">{{ 'collections.sidebar.collections' | t }}<span class="right icon-down-arrow"></span></h4>
            <ul class="toggle_list">
              {% for col in collections %}
                {% unless col.handle == 'frontpage' %}
                  <li {% if col.handle == collection.handle %}class="active"{% endif %}><a href="{{ col.url }}" title="{{ col.title | escape | split: ":" | last }}">{{ col.title | split: ":" | last }}</a></li>
                {% endunless %}
              {% endfor %}
            </ul>

          {% elsif block.type == 'filter_by_vendor' %}
            <h4 class="toggle">{{ 'collections.sidebar.vendors' | t }}<span class="right icon-down-arrow"></span></h4>
            <ul class="toggle_list">
              {% for product_vendor in collection.all_vendors %}
                <li {% if product_vendor == collection.title %}class="active"{% endif %}>{{ product_vendor | link_to_vendor }}</li>
              {% endfor %}
            </ul>

          {% elsif block.type == 'filter' %}
            {% assign initial_filter_tags = block.settings.filter_tags | split: ',' %}
            {% assign filter_name = block.settings.filter_name | replace: ' ', '_' | downcase | append: '__' %}

            {% capture filter_tags %}{% for filter_tag in initial_filter_tags %}{{- filter_name | strip }}{{ filter_tag | strip -}}{% if forloop.last == false %}^{% endif %}{% endfor %}{% endcapture %}
            {% assign filter_tags = filter_tags | split: "^" %}

            {%- capture headlines -%}
              {%- for collection_tag in collection.tags -%}
                {%- for tag in filter_tags -%}
                  {%- capture formatted_tag -%}{{- tag | replace: filter_name, '' | downcase -}}{%- endcapture -%}
                  {%- capture formatted_collection_tag -%}{{- collection_tag | downcase -}}{%- endcapture -%}
                  {%- if formatted_tag == formatted_collection_tag -%}
                    {{ block.settings.filter_name }}{% if forloop.last == false %}^{% endif %}
                  {%- endif -%}
                {%- endfor -%}
              {%- endfor -%}
            {%- endcapture -%}

            {% assign headline_length = headlines | split: '^' | size %}

            {% if headline_length > 0 %}
			{% if collection.title contains "Men" or collection.title contains "Women" %}
			{% unless block.settings.filter_name contains "Department" %}
              <div class="sidebar__collection-filter">
                <h4 class="toggle">{{ block.settings.filter_name }}<span class="right icon-down-arrow"></span></h4>

                {% if block.settings.filter_name != blank and headline_length > 0 %}
                  <ul class="toggle_list" >
                    <div class="filter-all-tags color-filter--{{ block.settings.enable_filter_swatches }}">
                      {% for tag in filter_tags %}
                        {% for collection_tag in collection.tags %}
                          {% capture formatted_tag %}{{- tag | replace: filter_name, '' | downcase -}}{% endcapture %}
                          {% capture formatted_collection_tag %}{{ collection_tag | downcase }}{% endcapture %}

                          {% if formatted_tag == formatted_collection_tag %}
                            {% if block.settings.enable_filter_swatches %}
                              <li>
                                <label data-option-filter><input type="checkbox" value="{{- tag | replace: filter_name, '' | handleize -}}" name="{{tag | handleize }}" id="{{tag}}" class="styled-checkbox" style="background-image: url({%comment%}{{ tag | replace: filter_name, ''| handleize | downcase | append: '.png' | asset_img_url: '50x' }}{%endcomment%}); background-color: {{tag | replace: filter_name, '' | downcase }}">
                                    {{tag | replace: filter_name, '' | replace: '_', ' ' | split: ":" | last }}
                                </label>
                              </li>
                            {% else %}
                              <li>
                                <a>
                                  <label data-option-filter><input type="checkbox" value="{{- tag | replace: filter_name, '' | handleize -}}" name="{{tag | handleize }}" >
                                    {{tag | replace: filter_name, '' | replace: '_', ' ' | split: ":" | last }}
                                  </label>
                                </a>
                              </li>
                            {% endif %}
                          {% endif %}
                        {% endfor %}
                      {% endfor %}
                    </div>
                    <div class="filter-active-tag color-filter--{{ block.settings.enable_filter_swatches }}">
                      {% for tag in filter_tags %}
                        {% for current_tag in current_tags %}
                          {% capture formatted_tag %}{{- tag | replace: filter_name, '' | downcase | handleize -}}{% endcapture %}
                          {% capture formatted_current_tag %}{{ current_tag | downcase | handleize }}{% endcapture %}
                          {% if formatted_tag == formatted_current_tag %}
                            {% if block.settings.enable_filter_swatches %}
                              <li>
                                <label data-option-filter>
                                  <input checked type="checkbox" value="{{- tag | replace: filter_name, '' | handleize -}}" name="{{tag | handleize }}" id="{{tag}}" class="styled-checkbox" style="background-image: url({{ tag | replace: filter_name, '' | handleize | downcase | append: '.png' | asset_img_url: '50x' }}); background-color: {{tag | replace: filter_name, '' | downcase }}">
                                  {{tag | replace: filter_name, '' | replace: '_', ' ' | split: ":" | last }}
                                </label>
                              </li>
                            {% else %}
                              <li>
                                <a class="active">
                                  <label data-option-filter><input checked type="checkbox" value="{{- tag | replace: filter_name, '' | handleize -}}" name="{{tag}}" >
                                    {{tag | replace: filter_name, '' | replace: '_', ' ' | split: ":" | last }}
                                  </label>
                                </a>
                              </li>
                            {% endif %}
                            <button class="clear-active-filter" data-clear-filter>
                            <i class="x-icon"></i>{{ 'collections.sidebar.clear' | t }}</button>
                            {% break %}
                          {% endif %}
                        {% endfor %}
                      {% endfor %}
                    </div>
                  </ul>
                {% endif %}
              </div>
          	{% endunless %}
          	{% else %}
          	<div class="sidebar__collection-filter">
                <h4 class="toggle">{{ block.settings.filter_name }}<span class="right icon-down-arrow"></span></h4>

                {% if block.settings.filter_name != blank and headline_length > 0 %}
                  <ul class="toggle_list" >
                    <div class="filter-all-tags color-filter--{{ block.settings.enable_filter_swatches }}">
                      {% for tag in filter_tags %}
                        {% for collection_tag in collection.tags %}
                          {% capture formatted_tag %}{{- tag | replace: filter_name, '' | downcase -}}{% endcapture %}
                          {% capture formatted_collection_tag %}{{ collection_tag | downcase }}{% endcapture %}

                          {% if formatted_tag == formatted_collection_tag %}
                            {% if block.settings.enable_filter_swatches %}
                              <li>
                                <label data-option-filter><input type="checkbox" value="{{- tag | replace: filter_name, '' | handleize -}}" name="{{tag | handleize }}" id="{{tag}}" class="styled-checkbox" style="background-image: url({%comment%}{{ tag | replace: filter_name, ''| handleize | downcase | append: '.png' | asset_img_url: '50x' }}{%endcomment%}); background-color: {{tag | replace: filter_name, '' | downcase }}">
                                    {{tag | replace: filter_name, '' | replace: '_', ' ' | split: ":" | last }}
                                </label>
                              </li>
                            {% else %}
                              <li>
                                <a>
                                  <label data-option-filter><input type="checkbox" value="{{- tag | replace: filter_name, '' | handleize -}}" name="{{tag | handleize }}" >
                                    {{tag | replace: filter_name, '' | replace: '_', ' ' | split: ":" | last }}
                                  </label>
                                </a>
                              </li>
                            {% endif %}
                          {% endif %}
                        {% endfor %}
                      {% endfor %}
                    </div>
                    <div class="filter-active-tag color-filter--{{ block.settings.enable_filter_swatches }}">
                      {% for tag in filter_tags %}
                        {% for current_tag in current_tags %}
                          {% capture formatted_tag %}{{- tag | replace: filter_name, '' | downcase | handleize -}}{% endcapture %}
                          {% capture formatted_current_tag %}{{ current_tag | downcase | handleize }}{% endcapture %}
                          {% if formatted_tag == formatted_current_tag %}
                            {% if block.settings.enable_filter_swatches %}
                              <li>
                                <label data-option-filter>
                                  <input checked type="checkbox" value="{{- tag | replace: filter_name, '' | handleize -}}" name="{{tag | handleize }}" id="{{tag}}" class="styled-checkbox" style="background-image: url({{ tag | replace: filter_name, '' | handleize | downcase | append: '.png' | asset_img_url: '50x' }}); background-color: {{tag | replace: filter_name, '' | downcase }}">
                                  {{tag | replace: filter_name, '' | replace: '_', ' ' | split: ":" | last }}
                                </label>
                              </li>
                            {% else %}
                              <li>
                                <a class="active">
                                  <label data-option-filter><input checked type="checkbox" value="{{- tag | replace: filter_name, '' | handleize -}}" name="{{tag}}" >
                                    {{tag | replace: filter_name, '' | replace: '_', ' ' | split: ":" | last }}
                                  </label>
                                </a>
                              </li>
                            {% endif %}
                            <button class="clear-active-filter" data-clear-filter>
                            <i class="x-icon"></i>{{ 'collections.sidebar.clear' | t }}</button>
                            {% break %}
                          {% endif %}
                        {% endfor %}
                      {% endfor %}
                    </div>
                  </ul>
                {% endif %}
              </div>
          	{% endif %}
            {% endif %}

          {% elsif block.type == 'text' %}
            <h4 class="toggle">{{ block.settings.title }}<span class="right icon-down-arrow"></span></h4>
            <ul class="toggle_list content_block">
              <li>{{ block.settings.text }}</li>
            </ul>
          {% elsif block.type == 'recently_viewed'%}
            <div  class="js-sidebar-recently-viewed hidden"
                  data-rv-handle="{{ product.handle }}"
                  data-visible-products="{{ block.settings.sidebar_rv_per | plus: 1 }}"
            >
              <h4 class="toggle">{{ block.settings.sidebar_rv_title }}<span class="right icon-down-arrow"></span></h4>
              <ul class="toggle_list">
                <li>{% include 'recently-viewed-block' %}</li>
              </ul>
            </div>
          {% endif %}
        </div>
      {% endfor %}
    </div>
  </div>
{% endif %}
