<!-- Avantlink -->
<script type="text/javascript">
  //Avant Link
  (function() {
    var avm = document.createElement('script'); avm.type = 'text/javascript'; avm.async = true;
    avm.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'cdn.avmws.com/1012493/';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(avm, s);
  })();
</script>

<!-- Google Remarketing Snippet -->
{% assign google_conversion_id = 979766224 %}
{% assign shopify_store_country  = 'US' %}
{% if shop.currency == 'CAD' %}
{% assign shopify_store_country  = 'CA' %}
{% elsif shop.currency == 'GBP' %}
{% assign shopify_store_country = 'GB' %}
{% endif %}

<script type="text/javascript">
  {% if template contains 'cart' %}
    var google_tag_params = {
        ecomm_prodid: [{% for item in cart.items %}'shopify_{{ shopify_store_country  }}_{{ item.product.id }}_{{ item.variant.id }}'{% unless forloop.last %}, {% endunless %}{% endfor %}],
        ecomm_pagetype: 'cart',
        ecomm_totalvalue: {{ cart.total_price | money_without_currency  | remove: ','  }}
    };

  {% elsif template contains 'collection' %}
    var google_tag_params = {
        ecomm_prodid: [{% for item in collection.products limit:5 %}'shopify_{{ shopify_store_country  }}_{{ item.id }}_{{ item.variants.first.id }}'{% unless forloop.last %}, {% endunless %}{% endfor %}],
        ecomm_pagetype: 'category',
        ecomm_category: '{{ collection.handle }}'
    };

  {% elsif template contains 'index' %}
    var google_tag_params = {
        ecomm_pagetype: 'home'
    };

  {% elsif template contains 'product' %}
    var google_tag_params = {
      ecomm_prodid: 'shopify_{{ shopify_store_country  }}_{{ product.id }}_{{ product.selected_or_first_available_variant.id }}',
        ecomm_pagetype: 'product',
        ecomm_totalvalue: {{ product.selected_or_first_available_variant.price | money_without_currency  | remove: ','  }}
    };

  {% elsif template contains 'search' %}
    var google_tag_params = {
        ecomm_prodid: [{% for item in search.results limit:5 %}'shopify_{{ shopify_store_country  }}_{{ item.id }}_{{ item.variants.first.id }}'{% unless forloop.last %}, {% endunless %}{% endfor %}],
        ecomm_pagetype: 'searchresults'
    };
  {% else %}
    var google_tag_params = {
        ecomm_pagetype: 'other'
    };

  {% endif %}

    /* <![CDATA[ */
    var google_conversion_id = {{ google_conversion_id }};
    var google_custom_params = window.google_tag_params;
    var google_remarketing_only = true;
    /* ]]> */
</script>

<!-- Google Ads -->
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js"></script>
<noscript>
  <div style="display:inline;">
    <img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/{{ google_conversion_id }}/?guid=ON&amp;script=0"/>
  </div>
</noscript>

<!-- Google Review Badge -->
<script src="https://apis.google.com/js/platform.js?onload=renderBadge" async defer></script>
<script>
  window.renderBadge = function() {
    var ratingBadgeContainer = document.createElement("div");
    document.body.appendChild(ratingBadgeContainer);
    window.gapi.load('ratingbadge', function() {
      window.gapi.ratingbadge.render(ratingBadgeContainer, {"merchant_id": 8070059});
    });
  }
  window.___gcfg = {
  lang: 'en_US'
};
</script>

<!--BEGIN KLAVIYO-->
<script type="text/javascript">
  var _learnq = _learnq || [];

  _learnq.push(['account', 'QcUCwX']);

  (function () {
  var b = document.createElement('script'); b.type = 'text/javascript'; b.async = true;
  b.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'a.klaviyo.com/media/js/analytics/analytics.js';
  var a = document.getElementsByTagName('script')[0]; a.parentNode.insertBefore(b, a);
  })();
</script>
<!-- BEGIN KLAVIYO SIGNUP FORM CODE -->
<script type="text/javascript">
var __klKey = __klKey || 'QcUCwX';
(function() {
  var s = document.createElement('script');
  s.type = 'text/javascript';
  s.async = true;
  s.src = '//static.klaviyo.com/forms/js/client.js';
  var x = document.getElementsByTagName('script')[0];
  x.parentNode.insertBefore(s, x);
})();
</script>
<!-- END KLAVIYO SIGNUP FORM CODE -->
