{% comment %}
Klaviyo - Out of stock script
{% endcomment %}

<script src='https://a.klaviyo.com/media/js/onsite/onsite.js'></script>
<script>
  var klaviyo = klaviyo || [];
  klaviyo.init({
    account: 'QcUCwX',
    list: 'LmfSYa',
    platform: 'shopify'
  });
  klaviyo.enable('backinstock',{
    trigger: {
      product_page_text: 'Notify Me When Available',
      product_page_class: 'action_button',
      product_page_text_align: 'center',
      product_page_margin: '0px',
      replace_sold_out: false
    },
    modal: {
      headline: '{product_name}',
      body_content: 'Register to receive a notification when this product comes back in stock.',
      button_label: 'Notify Me When Available',
      newsletter_subscribe_label: 'Add me to the newsletter.',
      footer_content: '',
      // additional_styles: "@import url('https://fonts.googleapis.com/css?family=Open+Sans');",
      additional_styles: "@import url('https://fonts.googleapis.com/css?family=Open+Sans');@import url('https://cdn.shopify.com/s/files/1/1933/1869/t/112/assets/klaviyo-outofstock.scss.css');",
      drop_background_color: '#000',
      background_color: '#F2F3F3',
      text_color: '#192021',
      button_text_color: '#F2F3F3',
      button_background_color: '#DF611C',
      close_button_color: '#ccc',
      error_background_color: '#FFA804',
      error_text_color: '#F2F3F3',
      success_background_color: '#1D8496',
      success_text_color: '#F2F3F3'
    }
  });
</script>
