<div class="instagram-widget">
  <div class="container">
    <div class="related-products__title ">
      <h4 class="title center">Gear in Action</h4>
      <p class="center tagline">
        Share a picture of you using this or any of your favorite outdoor products, and you could end up featured here.
      </p>
      <p class="center notification">
        Simply use <b>#GEARCOOPER</b> to allow us access to your photo</br>We will scan Instagram for awesome images and publish them as we go
      </p>
    </div> <div class="clear"></div>
  </div>
  <div id="stamped-reviews-widget" data-widget-type="instagram-feed" data-feed-type="carousel" data-random="True" data-hover-text="Instagram" data-shop-button-text="Look" data-product-ids="{{ product.id }}"></div>
  <p class="center subtagline text-smaller">
    We won't do anything without asking your permission first. These are your images, we just hope they can help future outdoor enthusiasts find the gear they need.
  </p>
</div>
