{% for link in linklists[mobile-menu].links %}
  {% if linklists[link.handle] == empty %}
    <li data-mobile-dropdown-rel="{{ link.handle }}">
      {% if link.url == 'http://' or link.url == '' or link.url == '/' or link.url == 'https://' or link.url == '#' %}
        <a data-no-instant href="{{ link.url }}" class="parent-link--false">
          {{ link.title | remove :'-1'}}
        </a>
      {% else %}
        <a data-no-instant href="{{ link.url }}" class="parent-link--true">
          {{ link.title | remove :'-1'}}
        </a>
      {% endif %}
    </li>
  {% else %}
    <li data-mobile-dropdown-rel="{{ link.handle }}" class="sublink">
      {% if link.url == 'http://' or link.url == '' or link.url == '/' or link.url == 'https://' or link.url == '#' %}
        <a data-no-instant href="{{ link.url }}" class="parent-link--false">
          {{ link.title | remove :'-1'}} <span class="right icon-down-arrow"></span>
        </a>
      {% else %}
        <a data-no-instant href="{{ link.url }}" class="parent-link--true">
          {{ link.title | remove :'-1'}} <span class="right icon-down-arrow"></span>
        </a>
      {% endif %}
      <ul>
        {% for link in linklists[link.handle].links %}
          {% if linklists[link.handle] == empty %}
            <li><a href="{{ link.url }}" title="{{ link.title }}">{{ link.title | remove :'-1'}}</a></li>
          {% else %}
            <li class="sublink">
              {% if link.url == 'http://' or link.url == '' or link.url == '/' or link.url == 'https://' or link.url == '#' %}
                <a data-no-instant href="{{ link.url }}" class="parent-link--false">
                  {{ link.title | remove :'-1'}} <span class="right icon-down-arrow"></span>
                </a>
              {% else %}
                <a data-no-instant href="{{ link.url }}" class="parent-link--true">
                  {{ link.title | remove :'-1'}} <span class="right icon-down-arrow"></span>
                </a>
              {% endif %}
              <ul>
                {% for link in linklists[link.handle].links %}
                  <li><a href="{{ link.url }}" title="{{ link.title }}">{{ link.title | remove :'-1'}}</a></li>
                {% endfor %}
              </ul>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </li>
  {% endif %}
{% endfor %}