<div class="newsletter">
  <div class="popup-signup-show--{{settings.newsletter_popup_form }} clearfix">
    <span class="message"></span>
    {% if settings.mailchimp_link != blank %}
      <form action="{{ settings.mailchimp_link }}" method="post" name="mc-embedded-subscribe-form" id="mc-embedded-subscribe-form" target="_blank" novalidate>
        {% if settings.display_first_name %}
          <input type="text" value="" class="firstName" name="FNAME" placeholder="{{ 'general.newsletter_form.subscriber_first_name' | t }}">
        {% endif %}
        {% if settings.display_last_name %}
          <input type="text" value="" name="LNAME" placeholder="{{ 'general.newsletter_form.subscriber_last_name' | t }}">
        {% endif %}
        <input type="email" value="" name="EMAIL" class="contact_email" placeholder="{{ 'general.newsletter_form.placeholder' | t }}">
        <input id="mc-embedded-subscribe" type="submit" value="{{ 'general.newsletter_form.submit' | t }}" class="action_button sign_up" name="subscribe" />
        <div class="mc-field-group input-group" style="display:none">
          <strong>Singup Location </strong>
          <ul>
            <li><input type="checkbox" value="524288" name="group[12569][524288]" id="mce-group[12569]-12569-13" checked><label for="mce-group[12569]-12569-13">Newsletter Sign-Up Website</label></li>
          </ul>
        </div>
        <div id="mce-responses">
  				<div class="response" id="mce-error-response" style="display:none"></div>
  				<div class="response" id="mce-success-response" style="display:none"></div>
  			</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
  			<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_9c1910151d2eeb138279baf98_51068e94ee" tabindex="-1" value=""></div>
      </form>
      <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[3]='FNAME';ftypes[3]='text';fnames[4]='LNAME';ftypes[4]='text';fnames[2]='MMERGE2';ftypes[2]='text';fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='MMERGE8';ftypes[1]='zip';fnames[5]='MMERGE5';ftypes[5]='text';fnames[6]='MMERGE6';ftypes[6]='text';fnames[7]='MMERGE7';ftypes[7]='text';fnames[8]='NUM';ftypes[8]='text';fnames[9]='TICKET';ftypes[9]='text';fnames[10]='EVNT_NUM';ftypes[10]='text';fnames[11]='EVNT_TITLE';ftypes[11]='text';fnames[12]='EVNT_START';ftypes[12]='date';fnames[13]='EVNT_END';ftypes[13]='date';fnames[14]='EVNT_LOC';ftypes[14]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
    {% else %}
      {% form 'customer' %}
         {% if form.posted_successfully? %}
           <p><em>{{ 'general.newsletter_form.success_text' | t }}</em></p>
         {% elsif form.errors %}
           {% for field in form.errors %}
             <p><em>{{ field }} - {{ form.errors.messages[field] }}</em></p>
           {% endfor %}
         {% endif %}

         <input type="hidden" name="contact[tags]" value="prospect,newsletter"/>
         <div class="input-row">
          {% if settings.display_first_name %}
            <input type="text" class="firstName" name="contact[first_name]" placeholder="{{ 'general.newsletter_form.subscriber_first_name' | t }}" />
          {% endif %}
          {% if settings.display_last_name %}
            <input type="text" name="contact[last_name]" placeholder="{{ 'general.newsletter_form.subscriber_last_name' | t }}" />
          {% endif %}
         </div>

        <div class="input-row">
          <input type="hidden" name="challenge" value="false" />
          <input type="email" class="contact_email" name="contact[email]" required placeholder="{{ 'general.newsletter_form.placeholder' | t }}" />
          <input type='submit' class="action_button sign_up" value="{{ 'general.newsletter_form.submit' | t }}" />
        </div>
       {% endform %}
    {% endif %}
  </div>
</div>
