<div id="popup-terms" class="remodal custom-modal" data-remodal-id="popup-terms" data-remodal-options="hashTracking: false">
  <a data-remodal-action="close" class="remodal-close"></a>
  <h5>{{ pages["terms-and-conditions"].title }}</h5>
  <div class="feature_divider"></div>
  {{ pages["terms-and-conditions"].content }}
</div>
