<div id="popup-price-match" class="remodal custom-modal" data-remodal-id="popup-price-match" data-remodal-options="hashTracking: false">
  <a data-remodal-action="close" class="remodal-close"></a>
  <h5>{{ pages["price-match-guarantee"].title }}</h5>
  <div class="feature_divider"></div>
  {{ pages["price-match-guarantee"].content }}
</div>
