{% comment %}
  Set the extension of your color files below. Use 'png', 'jpeg', 'jpg' or 'gif'.
{% endcomment %}

{% assign file_extension = 'png' %}

{% assign swatch = product-swatch %}
{% assign found_option = false %}
{% assign is_color = false %}
{% assign option_index = 0 %}

{% for option in product.options %}
  {% if option == swatch %}
    {% assign found_option = true %}
    {% assign option_index = forloop.index0 %}
    {% assign downcased_option = swatch | downcase %}
    {% if downcased_option contains 'color' or downcased_option contains 'colour' %}
      {% assign is_color = true %}
    {% endif %}
    {% if downcased_option contains 'size' %}
      {% assign is_size = true %}
    {% endif %}
  {% endif %}
{% endfor %}

<div class="swatch clearfix {{ swatch | downcase }}" data-option-index="{{ option_index }}">
  <div class="option_title">{{ swatch }}</div>

  {% if is_size %}
    <div class="option_overlay"></div>
    <div class="option_trigger"></div>
  {% endif %}

  <div class="custom-swatch {{ swatch | downcase }}">
  {% assign values = '' %}
  {% for variant in product.variants %}
    {% assign value = variant.options[option_index] %}
    {% unless values contains value %}
      {% assign values = values | join: ',' %}
      {% assign values = values | append: ',' | append: value %}
      {% assign values = values | split: ',' %}


      {% if is_size %}
        <div class="swatch-{{ swatch | downcase }} {% if product.variants.size == 1 %}selected{% endif %}">
          <input id="swatch-{{ option_index }}-{{ value | handle }}-{{ product.id }}" type="radio" name="option-{{ option_index }}" value="{{ value | escape }}"{% if forloop.first %} checked{% endif %} />
          <div data-value="{{ value | escape }}" class="swatch-element {% if is_color %}color {% endif %}{{ value | handle }}-swatch {% if variant.available %}available{% else %}soldout{% endif %}">
            {% if is_color %}
              <div class="tooltip">{{ value }}</div>
            {% endif %}
            {% if is_color %}
              {% comment %}AARON EDIT{% endcomment %}
              <label for="swatch-{{ option_index }}-{{ value | handle }}-{{ product.id }}" style="background: url({{ variant.image.src | img_url }});background-position: center;background-size: cover;">
              {% comment %}AARON END EDIT{% endcomment %}
                <span class="crossed-out"></span>
              </label>
            {% else %}
              <label class="swatch-label {{ value | handle }}-swatch {% if variant.available %}available{% else %}soldout{% endif %}" for="swatch-{{ option_index }}-{{ value | handle }}-{{ product.id }}">
                {{ value }}
              </label>
            {% endif %}
          </div>
        </div>
      {% else %}

      <div class="swatch-{{ swatch | downcase }}">
        <input id="swatch-{{ option_index }}-{{ value | handle }}-{{ product.id }}" type="radio" name="option-{{ option_index }}" value="{{ value | escape }}"{% if forloop.first %} checked{% endif %} />
        <div data-value="{{ value | escape }}" class="swatch-element {% if is_color %}color {% endif %}{{ value | handle }}-swatch {% if variant.available %}available{% else %}soldout{% endif %}">
          {% if is_color %}
            <div class="tooltip">{{ value }}</div>
          {% endif %}
          {% if is_color %}
            {% comment %}AARON EDIT{% endcomment %}
            <label for="swatch-{{ option_index }}-{{ value | handle }}-{{ product.id }}" style="background: url({{ variant.image.src | img_url }});background-position: center;background-size: cover;">
            {% comment %}AARON END EDIT{% endcomment %}
              <span class="crossed-out"></span>
            </label>
          {% else %}
            <label for="swatch-{{ option_index }}-{{ value | handle }}-{{ product.id }}">
              {{ value }}
              <span class="crossed-out"></span>
            </label>
          {% endif %}
        </div>
      </div>

      {% endif %}

    {% endunless %}
  {% endfor %}

  </div>
</div>
