{% assign collection_handles = product.collections | map: 'handle' %}
{% assign variant = product.selected_or_first_available_variant %}
<div class="thumbnail-overlay">
  <a href="{{ product.url | within: collection }}" itemprop="url" class="hidden-product-link">{{ product.title }}</a>
  <div class="info">
    {% if settings.thumbnail_hover_enabled and settings.quick_shop_enabled %}
      {% include "product-info" %}
      {% include 'quick-shop-button' %}
    {% elsif settings.thumbnail_hover_enabled %}
      {% include "product-info" %}
    {% elsif settings.quick_shop_enabled %}
      {% include 'quick-shop-button' %}
    {% endif %}
  </div>
</div>
<div class="banner_holder">
  {% if product.available %}
    {% if settings.sale_banner_enabled and product.compare_at_price_max > product.price and product.price_varies == false %}
      <div class="sale_banner thumbnail_banner {% for tag in product.tags %}{% if tag contains 'sale:private2018' %}private-sale{% endif %}{% endfor %}">{{ 'collections.general.sale' | t }}</div>
    {% endif %}
    {% if settings.sale_banner_enabled and product.price_varies and product.price_min > 0 and variant.price < variant.compare_at_price and variant.available %}
      <div class="sale_banner thumbnail_banner sale_some {% for tag in product.tags %}{% if tag contains 'sale:private2018' %}private-sale{% endif %}{% endfor %}">
        {{ 'collections.general.sale' | t }}*
        <small>selected items</small>
      </div>
    {% endif %}
  {% endif %}
  {% if collection_handles contains 'new' %}
    <div class="new_banner thumbnail_banner">{{ 'collections.general.new' | t }}</div>
  {% endif %}
  {% if collection_handles contains 'pre-order' %}
    <div class="preorder_banner thumbnail_banner">{{ 'collections.general.pre_order' | t }}</div>
  {% endif %}
</div>
