{% comment %}
** Cart page - default view **
- Template section
{% endcomment %}

<a name="pagecontent" id="pagecontent"></a>

{% if section.blocks.size > 0 %}
  {% for block in section.blocks %}

    {% if block.type == "page" %}
      <div class="homepage_content featured_content clearfix cart_banner">
        <div class="container">
          <div class="sixteen columns">
            <div class="section clearfix">
              {% if block.settings.content_page != blank %}
                {% include 'page-multi-column', content: pages[block.settings.content_page].content %}
              {% else %}
                <p class="center onboard-text">
                  {{ 'homepage.onboarding.no_content' | t }}
                </p>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    {% endif %}

  {% endfor %}
{% endif %}

<div class="section clearfix">
  <div class="sixteen columns">
    <h1>{{ 'cart.general.title' | t }}</h1>
    <div class="feature_divider"></div>
  </div>
</div>

{% if cart.item_count == 0 %}
  <div class="sixteen columns">
    <div class="section clearfix">
      <div class="six columns offset-by-five">
        <p class="quote">{{ 'cart.general.continue_browsing_html' | t }}</p>

        <a href="{% if cart.items.first.product.collections != blank %}{{ cart.items.first.product.collections.last.url }}{% else %}/pages/activity{% endif %}" class="action_button continue-button add_to_cart">{{ 'cart.general.continue_shopping_link_html' | t }}</a>
      </div>
      <br class="clear" />
    </div>
  </div>
{% else %}

  <form action="/cart" method="post" id="cart_form">
    <div class="section clearfix">
      <div class="ten columns">
        {% assign total_saving = 0 %}
        {% for item in cart.items %}
          {% if item.variant.compare_at_price > item.variant.price %}
            {% assign saving = item.variant.compare_at_price | minus: item.variant.price | times: item.quantity %}
            {% assign total_saving = saving | plus: total_saving %}
          {% endif %}

          <div class="section clearfix">
            <div class="three columns alpha">
              <a href="{{ item.url }}" title="{{ item.title | escape }}" class="cart_page_image">
                {% if item.image %}
                  <img  src="{{ item | img_url: '100x' }}"
                        alt="{{ item.title | escape }}"
                        class="lazyload {{ settings.image_loading_style }}"
                        style="max-width: {{- item.image.width -}}px"
                        data-sizes="auto"
                        data-src="{{ item | img_url: '900x' }}"
                        data-srcset=" {{ item | img_url: '300x' }} 300w,
                                      {{ item | img_url: '600x' }} 600w,
                                      {{ item | img_url: '900x' }} 900w"
                         />
                {% else %}
                  <img src="{{ 'no-product-image.jpg' | asset_url }}" class="lazyload {{ settings.image_loading_style }} no-product-image">
                {% endif %}
              </a>
            </div>

            <div class="seven columns omega cart_content_info">
              <h3>
                <a href="{{ item.url }}">{{ item.product.title }}
                  <span class="saso-cart-item-discount-notes" data-key="{{item.key}}"></span>
                  <span class="saso-cart-item-upsell-notes" data-key="{{item.key}}"></span>
                </a>
              </h3>

              {% unless item.product.has_only_default_variant or item.variant.title contains "Title" %}
                <p class="meta">
                  {% for option in item.product.options %}
                    <span class="label">{{ option }}:</span> <span>{{ item.variant.options[forloop.index0] }}</span><br />
                  {% endfor %}
                </p>
              {% endunless %}

              {% if item.properties %}
                <p>
                  {% for p in item.properties %}
                    {% unless p.last == blank %}
                      {% if p.last contains '/uploads/' %}
                        <div>
                          {{ p.first }}: <a class="lightbox" href="{{ p.last }}">{{ 'cart.general.uploaded_file' | t }}</a>
                        </div>
                      {% else %}
                        <div>
                          {{ p.first }}: {{ p.last }}
                        </div>
                      {% endif %}
                    {% endunless %}
                  {% endfor %}
                </p>
              {% endif %}

              <p class="modal_price cart_prices">
                {% if item.price < item.variant.compare_at_price %}
                  <span class="money was_price">{{ item.variant.compare_at_price | money }}</span>
                {% endif %}

                {% if item.price > 0 %}
                  <span>
                    <span class="saso-cart-item-price" data-key="{{item.key}}">{{ item.price | money }}</span>
                  </span>
                {% else %}
                  {{ settings.free_price_text }}
                {% endif %}

              </p>

              <div class="product-quantity-box left">
                <span class="ss-icon product-minus js-change-quantity" data-func="minus"><span class="icon-minus"></span></span>
                <input type="number" min="0" size="2" class="quantity" name="updates[]" id="updates_{{ item.id }}" value="{{ item.quantity }}" data-line-id="{{ forloop.index }}" {% if settings.limit_quantity and item.variant.inventory_management != blank and item.variant.inventory_quantity > 0 and item.variant.inventory_policy == "deny" %}max="{{ item.variant.inventory_quantity }}"{% endif %} />
                <span class="ss-icon product-plus js-change-quantity" data-func="plus"><span class="icon-plus"></span></span>
              </div>
            </div>

            {% if item.product.id == 432860004390 %}
              {% for i in (1..item.quantity) %}
                <div class="cart-attributes">
                  <p class="text-small">
                    If you hold a season pass to Snow Valley Mountain Resort please contact <a href="mailto:cs@gearcoop.com?Subject=SoCal%20Backcountry" target="_top">cs@gearcoop.com</a> to receive a discount on your SBS ticket.
                  </p>
                  <p class="cart-attribute__field">
                    <label>Skiier/Snowboarder Ability<span>*</span></label>
                    <select required class="required" id="skiiersnowboarder-ability" name="attributes[attendee-{{ item.variant.id }}-{{ i }}-Skiier/Snowboarder Ability]">
                      <option value="Beginner"{% if cart.attributes["attendee-{{ item.variant.id }}-{{ i }}-Skiier/Snowboarder Ability"] == "Beginner" %} selected{% endif %}>Beginner</option>
                      <option value="Intermediate"{% if cart.attributes["attendee-{{ item.variant.id }}-{{ i }}-Skiier/Snowboarder Ability"] == "Intermediate" %} selected{% endif %}>Intermediate</option>
                      <option value="Advance"{% if cart.attributes["attendee-{{ item.variant.id }}-{{ i }}-Skiier/Snowboarder Ability"] == "Advance" %} selected{% endif %}>Advance</option>
                    </select>
                  </p>
                  <p class="cart-attribute__field">
                    <label>Lunch Option<span>*</span></label>
                    <select required class="required" id="lunch-option" name="attributes[attendee-{{ item.variant.id }}-{{ i }}-Lunch Option]">
                      <option value="Turkey"{% if cart.attributes["attendee-{{ item.variant.id }}-{{ i }}-Lunch Option"] == "Turkey" %} selected{% endif %}>Turkey</option>
                      <option value="Roast Beef"{% if cart.attributes["attendee-{{ item.variant.id }}-{{ i }}-Lunch Option"] == "Roast Beef" %} selected{% endif %}>Roast Beef</option>
                      <option value="Vegetarian"{% if cart.attributes["attendee-{{ item.variant.id }}-{{ i }}-Lunch Option"] == "Vegetarian" %} selected{% endif %}>Vegetarian</option>
                    </select>
                  </p>
                  <p class="cart-attribute__field">
                    <label>Gender<span>*</span></label>
                    <select required class="required" id="gender" name="attributes[attendee-{{ item.variant.id }}-{{ i }}-Gender]">
                      <option value="Male"{% if cart.attributes["attendee-{{ item.variant.id }}-{{ i }}-Gender"] == "Male" %} selected{% endif %}>Male</option>
                      <option value="Female"{% if cart.attributes["attendee-{{ item.variant.id }}-{{ i }}-Gender"] == "Female" %} selected{% endif %}>Female</option>
                      <option value="Other"{% if cart.attributes["attendee-{{ item.variant.id }}-{{ i }}-Gender"] == "Other" %} selected{% endif %}>Other</option>
                    </select>
                  </p>
                  <p class="cart-attribute__field">
                    <label for="preferred-board-or-ski-size">Board or Ski Size (cm)</label>
                    <input id="preferred-board-or-ski-size" type="text" name="attributes[attendee-{{ item.variant.id }}-{{ i }}-Preferred Board or Ski Size]">
                  </p>
                  <p class="cart-attribute__field">
                    <label for="shoe-size">Shoe Size (US Size)<span>*</span></label>
                    <input required class="required" id="shoe-size" type="text" name="attributes[attendee-{{ item.variant.id }}-{{ i }}-Shoe Size]">
                  </p>
                  <p class="cart-attribute__field">
                    <label for="height">Height (ex. 5' 9")<span>*</span></label>
                    <input required class="required" id="height" type="text" name="attributes[attendee-{{ item.variant.id }}-{{ i }}-Height]">
                  </p>
                  <p class="cart-attribute__field">
                    <label for="weight">Weight (lbs)<span>*</span></label>
                    <input required class="required" id="weight" type="text" name="attributes[attendee-{{ item.variant.id }}-{{ i }}-Weight]">
                  </p>
                </div>
              {% endfor %}
            {% endif %}

          </div>
        {% endfor %}
      </div>

      <div class="five columns offset-by-one">
        <div class="section clearfix">
          <div class="subtotal">

            <p class="cart_subtotal js-cart_subtotal">
              <span class="right">
                <span class="">
                  <span class="saso-cart-original-total">{{ cart.total_price | money }}</span>
                  <span class="saso-cart-total"></span>
                </span>
              </span>
              <span>{{ 'cart.general.subtotal' | t }}</span>
            </p>

            {% if section.settings.display_savings %}
              <p class="cart_savings sale">
                {% if total_saving > 0 %}
                  <span class="right">
                    <span class="">{{ total_saving | money }}</span>
                  </span>
                  <span>{{ 'layout.general.savings' | t }}</span>
                {% endif %}
              </p>
            {% endif %}

            {% if settings.show_multiple_currencies %}
              <p>
                <small>
                  {{ 'cart.general.orders_processed_in_currency_html' | t: currency: shop.currency }}
                </small>
              </p>
            {% endif %}

            {% if section.settings.display_special_instructions %}
              <label for="note">{{ 'cart.general.note' | t: shop_name: shop.name }}:</label>
              <textarea id="note" name="note" rows="2">{{ cart.note }}</textarea>
            {% endif %}

            {% if cart.requires_shipping %}
              {% if cart.total_price >= 25000 %}
                <div class="free-50 cart">
                  <p>
                    You will receive an email with a $50 coupon code after your purchase.
                  </p>
                </div>
              {% endif %}
            {% endif %}

            {% if cart.requires_shipping %}
              {% if cart.total_price >= 5000 %}
                <div class="free-2-day cart">
                  <p class="text-smaller">
                    Your order qualifies for
                  </p>
                  <h3><a href="#popup-terms" data-remodal-target="popup-terms">Free 2-day shipping</a></h3>
                </div>
              {% else %}
                <div class="free-2-day cart">
                  <h3><a href="#popup-terms" data-remodal-target="popup-terms">Free 2-day shipping</a></h3>
                  <p class="text-smaller">
                    on orders over $50
                  </p>
                </div>
              {% endif %}
              {% else %}
              <div class="free-2-day cart">
                <h3><a href="#popup-terms" data-remodal-target="popup-terms">Free 2-day shipping</a></h3>
                <p class="text-smaller">
                  on orders over $50
                </p>
              </div>
            {% endif %}

            {% if section.settings.display_tos_checkbox %}
              <p>
                <input type="checkbox" class="tos_agree" id="cart_agree" required />
                  <label class="tos_label" for="cart_agree">
                    {{ 'cart.general.agree_to_terms_html' | t }}
                  </label>
                {% if settings.tos_page != blank %}
                  <a href="{{ pages[settings.tos_page].url }}" target="_blank" class="tos_icon">{{ 'cart.general.view_terms' | t }}</a>
                {% endif %}
              </p>
            {% endif %}

            {% if section.settings.cart_message != blank %}
              <div>
                {{ section.settings.cart_message }}
              </div>
            {% endif %}

            <p>
              <input type="submit" class="action_button add_to_cart" id="checkout" name="checkout" value="{{ 'cart.general.checkout' | t }}" />
            </p>

            <p class="additional-checkout-divider">
              <span>or</span>
            </p>

            {% if content_for_additional_checkout_buttons and settings.cart_action != 'ajax' %}
              <div class="additional-checkout-buttons">
                {{ content_for_additional_checkout_buttons }}
              </div>
            {% endif %}

            <!-- <div class="coop-guarantee">
              <h6>The Gear Coop Guarantee</h6>
              <img src="{{ 'shipping-icon-color.png' | asset_url }}" height="24"/>
              <img src="{{ 'returns-icon-color.png' | asset_url }}" height="24"/>
              <img src="{{ 'pricematch-icon-color.png' | asset_url }}" height="24"/>
            </div> -->

          </div>
        </div>
      </div>
    </div>
    {% if cart.item_count > 0 %}
      <div class="featured-links">
        <a href="{% if cart.items.first.product.collections != blank %}{{ cart.items.first.product.collections.last.url }}{% else %}/collections/all{% endif %}" class="secondary_button">{{ 'cart.general.continue_shopping_link_html' | t }}</a>
      </div>
    {% endif %}
  </form>

  {% include 'cart-shipping-calculator' %}
{% endif %}

{% schema %}

{
  "name": "Cart page",
  "class": "cart-section",
  "settings": [
    {
      "type": "checkbox",
      "id": "display_special_instructions",
      "label": "Show \"note\" text box"
    },
    {
      "type": "checkbox",
      "id": "display_tos_checkbox",
      "label": "Show \"agree to terms\" checkbox"
    },
    {
      "type": "checkbox",
      "id": "display_savings",
      "label": "Show total savings",
      "default": true
    },
    {
      "type": "richtext",
      "id": "cart_message",
      "label": "Cart message"
    }
  ],
  "blocks": [
  {
    "type": "page",
    "name": "Page",
    "settings": [
      {
        "type": "page",
        "id": "content_page",
        "label": "Content page"
      }
    ]
  }
  ]
}

{% endschema %}
