{% comment %}
** Collections - default view **
- Collection template
- Uses blocks
{% endcomment %}

{% if section.settings.featured_collection_image %}
  {% capture sizes %}100x,480x,765x,1400x,2048x{% endcapture %}
  {% assign sizes = sizes | split: ',' %}

  <header class="banner center page_banner collection-custom_header dark-overlay-{{ section.settings.image_darken }}">
    <img
          {% if collection.image %}
            src="{{ collection.image | img_url: sizes.first }}"
            data-src="{{ collection.image | img_url: sizes.last }}"
          {%- elsif section.settings.image -%}
            src="{{ section.settings.image | img_url: sizes.first }}"
            data-src="{{ section.settings.image | img_url: sizes.last }}"
          {%- else %}
            src="{{ collection.products.first.featured_image | product_img_url: sizes.first }}"
            data-src="{{ collection.products.first.featured_image | product_img_url: sizes.last }}"
          {% endif %}
          alt="{{ collection.title | escape }}"
          class="lazyload {{ settings.image_loading_style }}"
          sizes="100vw"
          srcset="{%- for size in sizes -%}
                    {%- if collection.image -%}
                      {{ collection.image | img_url: size }}
                    {%- elsif section.settings.image -%}
                      {{ section.settings.image | img_url: size, format: 'pjpg' }}
                    {%- else -%}
                      {{ collection.products.first.featured_image | product_img_url: size }}
                    {%- endif -%}
                    {{ size | replace: "x", "w" }}{% unless forloop.last %},{% endunless %}
                  {%- endfor -%}
          " />
      {% if collection.metafields.c_f.brand_logo %}
        <div class="caption brandpage-caption caption-background-true caption-transparency-true align-center">
          <img src="{{ collection.metafields.c_f.brand_logo }}" alt="Brand Logo" class="transition-in brand-logo lazyloaded">
        </div>
      {% endif %}
      <!-- {% if section.settings.display_collection_title %}
        <div class="caption">
          <h1 class="headline">{{ collection.title }}</h1>
        </div>
      {% endif %} -->
  </header>
{% endif %}

{% if collection.metafields.c_f.collection_one_image %}
  <div class="brand-collections {{ collection.title | remove: 'Brand:' }}">
    <div class="featured_collections clearfix across-1 image-align--left">
      <section class="featured-link--section featured-link--image section-8">
        <div class="featured-link--half featured-link--image">
          <div class="featured-link--wrap">
            {% if collection.metafields.c_f.collection_one_title %}
              {% if collection.metafields.c_f.collection_one_link %}
              <a href="{{ collection.metafields.c_f.collection_one_link }}" title="{{ collection.metafields.c_f.collection_one_title }}">
                <img data-sizes="auto" data-src="{{ collection.metafields.c_f.collection_one_image }}" class="full-width-image appear transition-in lazyautosizes lazyloaded" alt="{{ collection.metafields.c_f.collection_one_title }}" sizes="953px" src="{{ collection.metafields.c_f.collection_one_image }}">
              </a>
              {% endif %}
            {% endif %}
          </div>
        </div>
        <div class="featured-link--half">
          <div class="info text-align--left">
            {% if collection.metafields.c_f.collection_one_title %}
              {% if collection.metafields.c_f.collection_one_link %}
                <a href="{{ collection.metafields.c_f.collection_one_link }}" class="collection_title">{{ collection.metafields.c_f.collection_one_title }}</a>
              {% endif %}
            {% endif %}
            {% if collection.metafields.c_f.collection_one_text %}
              <div class="description">
                <p>{{ collection.metafields.c_f.collection_one_text }}</p>
              </div>
            {% endif %}
            {% if collection.metafields.c_f.collection_one_link %}
              <a href="{{ collection.metafields.c_f.collection_one_link }}" class="button">Shop Now</a>
            {% endif %}
          </div>
        </div>
      </section>
    </div>
  </div>
{% endif %}

{% if collection.metafields.c_f.collection_two_image %}
  <div class="brand-collections {{ collection.title | remove: 'Brand:' }}">
    <div class="featured_collections clearfix across-1 image-align--right">
      <section class="featured-link--section featured-link--image section-9">
        <div class="featured-link--half featured-link--image">
          <div class="featured-link--wrap">
            {% if collection.metafields.c_f.collection_two_title %}
              {% if collection.metafields.c_f.collection_two_link %}
                <a href="{{ collection.metafields.c_f.collection_two_link }}" title="{{ collection.metafields.c_f.collection_two_title }}">
                  <img data-sizes="auto" data-src="{{ collection.metafields.c_f.collection_two_image }}" class="full-width-image appear transition-in lazyautosizes lazyloaded" alt="{{ collection.metafields.c_f.collection_two_title }}" sizes="953px" src="{{ collection.metafields.c_f.collection_two_image }}">
                </a>
              {% endif %}
            {% endif %}
          </div>
        </div>
        <div class="featured-link--half">
          <div class="info text-align--left">
            {% if collection.metafields.c_f.collection_two_title %}
              {% if collection.metafields.c_f.collection_two_link %}
                <a href="{{ collection.metafields.c_f.collection_two_link }}" class="collection_title">{{ collection.metafields.c_f.collection_two_title }}</a>
              {% endif %}
            {% endif %}
            {% if collection.metafields.c_f.collection_two_text %}
              <div class="description">
                <p>{{ collection.metafields.c_f.collection_two_text }}</p>
              </div>
            {% endif %}
            {% if collection.metafields.c_f.collection_two_link %}
              <a href="{{ collection.metafields.c_f.collection_two_link }}" class="button">Shop Now</a>
            {% endif %}
          </div>
        </div>
      </section>
    </div>
  </div>
{% endif %}

<a name="pagecontent" id="pagecontent"></a>

<div class="container">
  <div class="section clearfix">
    {% if section.settings.display_collection_title %}
    <div class="container center">
      <h1 class="headline">{{ collection.title | split: ":" | last }}</h1>
    </div>
    {% endif %}
    {% if collection.description != blank %}
      <div class="container center collection_description">
        {{ collection.description }}
      </div>
    {% endif %}
  </div>
</div>

<div class="container">
  {% paginate collection.products by section.settings.pagination_limit %}
    <div class="clearfix breadcrumb-collection">
      {% if section.settings.collection_breadcrumb %}
        <div class="eight columns breadcrumb_text" itemscope itemtype="http://schema.org/BreadcrumbList">
          <span itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><a href="{{ shop.url }}" title="{{ shop.name | escape }}" itemprop="item" class="breadcrumb_link"><span itemprop="name">{{ 'general.breadcrumbs.home' | t }}</span></a></span>
          <span class="breadcrumb-divider">/</span>
          <span itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><a href="/collections/{% if collection.handle != blank %}{{ collection.handle }}{% else %}all{% endif %}" title="{{ collection.title | escape | split: ":" | last }}" itemprop="item" class="breadcrumb_link"><span itemprop="name">{{ collection.title | split: ":" | last }}</span></a></span>
          {% if current_tags %}
            {% for tag in current_tags %}
              {% unless tag contains 'meta-' %}
                <span class="breadcrumb-divider">/</span>
                <span itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><a href="/collections/{% if collection.handle != blank %}{{ collection.handle }}{% else %}all{% endif %}/{{ tag | handleize }}" title="{{ tag | escape }}" itemprop="item"><span itemprop="name">{{ tag }}</span></a></span>
              {% endunless %}
            {% endfor %}
          {% endif %}

          {% if paginate.pages != 0 and settings.pagination_type != 'load_more' and settings.pagination_type != 'infinite_scroll' %}
            <span class="breadcrumb-divider">/</span> {{ 'general.breadcrumbs.page' | t: current_page: paginate.current_page, pages: paginate.pages }}
          {% endif %}
        </div>
      {% endif %}
    </div>
    <div class="section clearfix">
      {% if section.settings.display_collection_title and section.settings.featured_collection_image == false %}
        <div class="eight columns">
          <h1>{{ collection.title | split: ":" | last }}</h1>
        </div>
      {% endif %}
      <div class="eight columns section_select {% unless section.settings.display_collection_title and section.settings.featured_collection_image == false %}offset-by-eight{% endunless %}">
        {% if collection.handle != blank and collection.products_count > 0 %}
          {% if section.settings.collection_tags %}
            {% for tag in collection.all_tags %}
              {% if forloop.first %}
                <select name="tag_filter" id="tag_filter" class="tag_filter" data-default-collection="{% if collection.handle == 'all' %}/collections/all{% else %}{{ collection.url }}{% endif %}">
                  <option {% unless current_tags %}selected="selected"{% endunless %} value="{% if collection.handle == "all" %}/collections/all{% else %}{{ collection.url }}{% endif %}">{{ 'collections.general.all_collection_title' | t: title: collection.title }}</option>
              {% endif %}

              {% unless tag contains 'meta-' %}
                <option {% if current_tags contains tag %}selected="selected"{% endif %} value="/collections/{% if collection.handle != blank %}{{ collection.handle }}{% else %}all{% endif %}/{{ tag | handleize }}">{{ tag }}</option>
              {% endunless %}

              {% if forloop.last %}
                </select>
              {% endif %}
            {% endfor %}
          {% endif %}

         {% if section.settings.collection_sort %}
            <select class="sort_by" id="sort-by" data-default-sort="{{ collection.sort_by | default: collection.default_sort_by  }}">
              <option value="manual">{{ 'collections.sorting.featured' | t }}</option>
              <option value="best-selling">{{ 'collections.sorting.best_selling' | t }}</option>
              <option value="title-ascending">{{ 'collections.sorting.az' | t }}</option>
              <option value="title-descending">{{ 'collections.sorting.za' | t }}</option>
              <option value="price-ascending">{{ 'collections.sorting.price_ascending' | t }}</option>
              <option value="price-descending">{{ 'collections.sorting.price_descending' | t }}</option>
              <option value="created-descending">{{ 'collections.sorting.date_descending' | t }}</option>
              <option value="created-ascending">{{ 'collections.sorting.date_ascending' | t }}</option>
            </select>
          {% endif %}
        {% endif %}
      </div>
    </div>
    <div class="sixteen columns">
      <div class="feature_divider"></div>
    </div>


    {% comment %}Check to see if sidebar should be enabled{% endcomment %}
    {% if section.blocks.size > 0 %}
      {% assign sidebar = true %}
    {% else %}
      {% assign sidebar = false %}
    {% endif %}

    {% if sidebar %}
      {% include 'sidebar' %}
      <div class="twelve columns">
    {% else %}
      <div class="sixteen columns">
    {% endif %}

      <!-- {% if collection.description != blank %}
        <div class="section clearfix collection_description">
          {{ collection.description }}
        </div>
      {% endif %} -->

      {% if collection.products.size == 0 %}
        <div class="section clearfix collection-matrix">
          <p class="quote">{{ 'collections.general.no_matches' | t }}</p>
        </div>
      {% else %}
        {% assign products_per_row = section.settings.products_per_row %}
        {% include 'product-loop', sidebar: sidebar %}
      {% endif %}

    {% if settings.pagination_type == 'basic_pagination' %}
      {% include 'pagination' with sidebar %}
    {% endif %}

    </div>
  {% endpaginate %}

</div>

{% if collection.metafields.c_f.video_url %}
<div class="video-section">
  {% if collection.metafields.c_f.video_provider %}
  <section class="homepage-video collection-custom_video darken-video-false  placeholder-image--true" data-video-id="video-brand-collection" data-autoplay="false" data-autoloop="false" data-display-text-over-video="false" data-video-src="{{ collection.metafields.c_f.video_url }}" data-aspect-ratio="16:9" data-provider="{{ collection.metafields.c_f.video_provider }}" data-video-mp4="" data-video-ogv="">
  {% endif %}
    <div class="homepage-video--media">
      {% if collection.metafields.c_f.video_image %}
      <img src="{{ collection.metafields.c_f.video_image }}" alt="Brand Video Section" class="blur-up homepage-video__image lazyloaded" data-play-video="" sizes="100vw" data-src="{{ collection.metafields.c_f.video_image }}" srcset="
                      {{ collection.metafields.c_f.video_image }} 1400w,
                      {{ collection.metafields.c_f.video_image }} 480w,
                      {{ collection.metafields.c_f.video_image }} 765w,
                      {{ collection.metafields.c_f.video_image }} 900w,
                      {{ collection.metafields.c_f.video_image }} 1000w,
                      {{ collection.metafields.c_f.video_image }} 1100w,
                      {{ collection.metafields.c_f.video_image }} 1300w,
                      {{ collection.metafields.c_f.video_image }} 1500w,
                      {{ collection.metafields.c_f.video_image }} 1700w,
                      {{ collection.metafields.c_f.video_image }} 1900w,
                      {{ collection.metafields.c_f.video_image }} 2000w">
      {% endif %}
      <div class="position-center caption js-caption text-on-video">
        <div class="caption-content caption-background-true caption-transparency-true align-center">
          {% if collection.metafields.c_f.video_preheader %}
          <div class="pretext">
            <p>{{ collection.metafields.c_f.video_preheader }}</p>
          </div>
          {% endif %}
          {% if collection.metafields.c_f.video_title %}
          <h1 class="headline">{{ collection.metafields.c_f.video_title }}</h1>
          {% endif %}
          {% if collection.metafields.c_f.video_subheader %}
          <div class="subtitle">
            <p>{{ collection.metafields.c_f.video_subheader }}</p>
          </div>
          {% endif %}
          <a data-play-video-button="" class="action_button first_button highlight-false video__play-button" style="width: 153.984px;">Play Video</a>
        </div>
      </div>
    </div>
  </section>
</div>
{% endif %}
<!--Video-->

{% schema %}

{
  "name": "Collection",
  "class": "collection-template-section",
  "settings": [
    {
      "type": "range",
      "id": "products_per_row",
      "label": "Products per row",
      "min": 2,
      "max": 5,
      "step": 1,
      "default": 3
    },
    {
      "type": "range",
      "id": "pagination_limit",
      "label": "Products per page",
      "min": 2,
      "max": 50,
      "step": 1,
      "default": 48
    },
    {
      "type": "checkbox",
      "id": "display_collection_title",
      "label": "Show collection title"
    },
    {
      "type": "checkbox",
      "id": "collection_breadcrumb",
      "label": "Show breadcrumb links",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "collection_tags",
      "label": "Enable filtering by product tag"
    },
    {
      "type": "checkbox",
      "id": "collection_sort",
      "label": "Enable collection sorting"
    },
    {
      "type": "header",
      "content": "Banner image"
    },
    {
      "type": "checkbox",
      "id": "featured_collection_image",
      "label": "Show top banner image",
      "info": "The collection's featured image will be used by default. Optionally upload a banner image as a fallback."
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Banner image",
      "info": "1600 x 1000px recommended"
    },
    {
      "type": "checkbox",
      "id": "image_darken",
      "label": "Darken banner image",
      "default": false
    },
    {
      "type": "header",
      "content": "Sidebar"
    },
    {
      "type": "paragraph",
      "content": "Create a sidebar by adding content blocks."
    },
    {
      "type": "checkbox",
      "id": "toggle",
      "label": "Toggle sidebar content"
    }
  ],
  "blocks": [
    {
      "type": "filter_by_collection",
      "name": "Collection list",
      "limit": 1
    },
    {
      "type": "menu",
      "name": "Menu",
      "settings": [
        {
          "type": "link_list",
          "id": "custom_menu_linklist",
          "label": "Menu"
        }
      ]
    },
    {
      "type": "page",
      "name": "Page",
      "settings": [
        {
          "type": "page",
          "id": "content_page",
          "label": "Page"
        }
      ]
    },
    {
      "type": "recently_viewed",
      "name": "Recently viewed products",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "To test the recently viewed products, view your online store outside of the Editor and visit multiple product pages ([?](https:\/\/help.outofthesandbox.com\/hc\/en-us\/articles\/115008765228))"
        },
        {
          "type": "text",
          "id": "sidebar_rv_title",
          "label": "Title",
          "default": "Recently Viewed"
        },
        {
          "type": "range",
          "id": "sidebar_rv_per",
          "label": "Products limit",
          "min": 1,
          "max": 4,
          "step": 1,
          "default": 3
        }
      ]
    },
    {
      "type": "filter",
      "name": "Tag filter",
      "limit": 5,
      "settings": [
        {
          "type": "text",
          "id": "filter_name",
          "label": "Title"
        },
        {
          "type": "textarea",
          "id": "filter_tags",
          "label": "Filter tags",
          "info": "Add a comma-separated list of product tags. Only the tags found in the collection will be displayed as filters ([?](https://help.outofthesandbox.com/hc/en-us/articles/115008642047))"
        },
        {
          "type": "checkbox",
          "id": "enable_filter_swatches",
          "label": "Display color swatches"
        }
      ]
    },
    {
      "type": "filter_by_tag",
      "name": "Tag list",
      "limit": 1
    },
    {
      "type": "text",
      "name": "Text",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Heading"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Text",
          "default": "<p>Text area can be used for special announcements or general information.</p>"
        }
      ]
    },
    {
      "type": "filter_by_type",
      "name": "Type list",
      "limit": 1
    },
    {
      "type": "filter_by_vendor",
      "name": "Vendor list",
      "limit": 1
    }
  ]
}

{% endschema %}
