{% comment %}
** Product snippet - only used as AJAX reference for recently viewed **
{% endcomment %}

{% if settings.align_height %}
  {% assign collection_height = settings.collection_height | plus: 0 %}
  {% assign product_aspect_ratio = product.featured_image.aspect_ratio | plus: 0 %}
  {% assign product_set_width = product_aspect_ratio | times: collection_height %}

  {% if product.featured_image.width >= product.featured_image.height %}
    {% assign align_height_value = 'width: 100%; height: auto;' %}
  {% else %}
    {% assign align_height_value = 'width: 100%;' %}
  {% endif %}

{% endif %}

<div class="js-recently-viewed-product">
  <div class="product-wrap">
      <div class="relative product_image swap-{{ settings.collection_secondary_image }}">
        <a href="{{ product.url | within: collection }}" itemprop="url">
          {% if product.images.size == 0 %}
            <!-- If the product has no image, display custom placeholder -->
            <div class="image__container">
              <img src="{{ 'no-product-image.jpg' | asset_url }}" class="lazyload {{ settings.image_loading_style }} no-product-image">
            </div>
          {% else %}
            <div class="image__container" style="{% if settings.align_height %} max-width: {{ product_set_width }}px; {% else %} max-width: {{- product.featured_image.width -}}px; {% endif %}">
              <img  src="{{ product.featured_image | product_img_url: '100x' }}"
                    alt="{{ alt_text | escape }}"
                    class="lazyload {{ settings.image_loading_style }}"
                    style="{{ align_height_value }} max-width: {{- product.featured_image.width -}}px;"
                    data-sizes="100vw"
                    data-src="{{ product.featured_image | product_img_url: '250x' }}"
                    data-srcset=" {{ product.featured_image | product_img_url: '300x' }} 300w,
                                {{ product.featured_image | product_img_url: '400x' }} 400w,
                                {{ product.featured_image | product_img_url: '500x' }} 500w,
                                {{ product.featured_image | product_img_url: '600x' }} 600w,
                                {{ product.featured_image | product_img_url: '700x' }} 700w,
                                {{ product.featured_image | product_img_url: '800x' }} 800w,
                                {{ product.featured_image | product_img_url: '900x' }} 900w"
                                />
            </div>
          {% endif %}
            {% if settings.collection_secondary_image != blank %}
              <div class="image__container" style="max-width: {% if product.images[1] != blank %}{{- product.images[1].width -}}px{% else %}{{- product.featured_image.width -}}px{% endif %}; ">
                <img src="{% if product.images[1] != blank %}{{ product.images[1] | product_img_url: '900x' }}{% else %}{{ product.featured_image | product_img_url: '900x' }}{% endif %}"
                class="secondary lazyload"
                alt="{{ alt_text | escape }}"
                />
              </div>
            {% endif %}
          </a>
        {% include "product-details" %}
      </div>
      <a class="product-info__caption {% if settings.thumbnail_hover_enabled %}hidden{% endif %}" href="{{ product.url | within: collection }}" itemprop="url">
        {% include "product-info" %}
        </a>
      </div>
    {% include 'collection-swatch' %}
  </div>
</div>
