<a name="pagecontent" id="pagecontent"></a>

<div class="sixteen columns clearfix collection_nav">
  <h1>{{ shop.metafields.locales.edit_account }}</h1>
  <div class="feature_divider"></div>
</div>

<div class="section clearfix">
  <div class="six columns offset-by-five">
    <br class="clear" />
    <div id="customer">
      <!-- Create Customer -->
      <div id="create-customer">

        {% include 'customer-fields' %}
      </div><!-- /#create-customer -->
    </div>
  </div>
</div>
