{% comment %}
  The contents of the collection.custom.liquid template can be found in /sections/collection-brands-template.liquid This template file is used for the brand collections
{% endcomment %}

{% section 'collection-brands-template' %}
