{% comment %}
  The contents of the page.summer-vans.liquid template can be found in /sections/page-summer-vans-template.liquid This template file is used for the Summer Vans Page
{% endcomment %}
{% section 'page-summer-vans-template' %}
