{% comment %}
  The contents of the page.tnf-summitseries.liquid template can be found in /sections/page-tnf-summitseries-template.liquid This template file is used for the TNF - Summit Series
{% endcomment %}
{% section 'page-tnf-summitseries-template' %}
