{% assign counter = 0 %}
{% for vendor in shop.vendors %}
{% assign counter = counter | plus: 1 %}
{% endfor %}

{% assign counter_divided_by_3 = counter | divided_by: 3 | floor %}


<div class="center">
  <h2 class="title">
    {{ page.title }}
  </h2>
</div>
<div class="container">
  <div class="alphabet-filter">
    <a href="#NUMB">0-9</a>
    <a href="#brand-vendor-a">A</a>
    <a href="#brand-vendor-b">B</a>
    <a href="#brand-vendor-c">C</a>
    <a href="#brand-vendor-d">D</a>
    <a href="#brand-vendor-e">E</a>
    <a href="#brand-vendor-f">F</a>
    <a href="#brand-vendor-g">G</a>
    <a href="#brand-vendor-h">H</a>
    <a href="#brand-vendor-i">I</a>
    <a href="#brand-vendor-j">J</a>
    <a href="#brand-vendor-k">K</a>
    <a href="#brand-vendor-l">L</a>
    <a href="#brand-vendor-m">M</a>
    <a href="#brand-vendor-n">N</a>
    <a href="#brand-vendor-o">O</a>
    <a href="#brand-vendor-p">P</a>
    <a href="#brand-vendor-q">Q</a>
    <a href="#brand-vendor-r">R</a>
    <a href="#brand-vendor-s">S</a>
    <a href="#brand-vendor-t">T</a>
    <a href="#brand-vendor-u">U</a>
    <a href="#brand-vendor-v">V</a>
    <a href="#brand-vendor-w">W</a>
    <a href="#brand-vendor-x">X</a>
    <a href="#brand-vendor-y">Y</a>
    <a href="#brand-vendor-z">Z</a>
  </div>
    <ul class="vendor-list">
      {% for product_vendor in collections['all-brands'].all_vendors %}
      {% capture id %}{{ product_vendor | handleize }}{% endcapture %}
      {% if collections[id] != blank %}
      {% if collections[id].products_count != 0 %}
      <li>
        <a href="/collections/{{ id }}">{{ product_vendor }}</a>
      </li>
      {% endif %}
      {% endif %}
      {% endfor %}
    </ul>
  <div>
    {% include 'page-multi-column', content: page.content %}
  </div>
</div>
