{% comment %}
  The contents of the page.climbing-shoes.liquid template can be found in /sections/page-climbing-shoes-template.liquid This template file is used for the Climbing Shoe Guide
{% endcomment %}
{% section 'page-climbing-shoes-template' %}
