{% comment %}
  The contents of the page.fall-2018.liquid template can be found in /sections/page-fall-2018-template.liquid This template file is used for Fall 2018
{% endcomment %}
{% section 'page-fall-2018-template' %}
