<section class="featured-link--section featured-link--image section-1">
  <div class="featured-link--half featured-link--image">
    <div class="featured-link--wrap">
      {% if page.metafields.c_f.featured_image %}
      <img data-sizes="auto" data-src="{{ page.metafields.c_f.featured_image }}" class="full-width-image appear transition-in lazyautosizes lazyloaded" alt="{{ page.title }}" sizes="953px" src="{{ page.metafields.c_f.featured_image }}">
      {% endif %}
    </div>
    {% if page.metafields.c_f.photo_credit %}
    <div class="photo-credits">
      <a href="">i</a>
      <div>
        {% if page.metafields.c_f.photo_credit_link %}
        <p>
          Photo by <a target="_blank" href="{{ page.metafields.c_f.photo_credit_link }}">{{ page.metafields.c_f.photo_credit }}</a>
        </p>
        {% else %}
        <p>
          Photo by {{ page.metafields.c_f.photo_credit }}
        </p>
        {% endif %}
        {% if page.metafields.c_f.photo_desc %}
        <p>
          {{ page.metafields.c_f.photo_desc }}
        </p>
        {% endif %}
      </div>
    </div>
    {% endif %}
  </div>
  <div class="featured-link--half">
    <div class="info text-align--left">
      <h1 class="collection_title">
        {{ page.title }}
      </h1>
      <div class="description">
        {% include 'page-multi-column', content: page.content %}
        <!-- Begin MailChimp Signup Form -->
        {% if page.metafields.c_f.landing_form_action %}
        <div id="mc_embed_signup" class="newsletter-landing">
          <form method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate="" action="{{ page.metafields.c_f.landing_form_action }}">
            <div id="mc_embed_signup_scroll">
              <div class="mc-field-group name"><input type="text" value="" name="FNAME" placeholder="First Name" id="mce-FNAME" /></div>
              <div class="mc-field-group name"><input type="text" value="" name="LNAME" placeholder="Last Name" id="mce-LNAME" /></div>
              <div class="mc-field-group"><input type="email" value="" name="EMAIL" placeholder="Enter your email address..." class="contact_email required email" id="mce-EMAIL" /></div>
              <div class="mc-field-group input-group" style="display:none">
        				<strong>Guide Books </strong>
        				<ul>
                  {% if page.metafields.c_f.landing_form_group_value %}
                  <li><input type="checkbox" value="{{ page.metafields.c_f.landing_form_group_value }}" name="group[12585][{{ page.metafields.c_f.landing_form_group_value }}]" {% if page.metafields.c_f.landing_form_group_id %} id="mce-group[12585]-12585-{{ page.metafields.c_f.landing_form_group_id }}" checked><label for="mce-group[12585]-12585-{{ page.metafields.c_f.landing_form_group_id }}">Guidebook Label</label>{% endif %}</li>
                  {% endif %}
                </ul>
        			</div>
              <div id="mce-responses" class="clear">
                <div class="response" id="mce-error-response" style="display: none;"></div>
                <div class="response" id="mce-success-response" style="display: none;"></div>
              </div>
              <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
              <div style="position: absolute; left: -5000px;" aria-hidden="true">
                {% if page.metafields.c_f.landing_form_name %}
                <input type="text" name="{{ page.metafields.c_f.landing_form_name }}" tabindex="-1" value="" />
                {% endif %}
              </div>
              <div class="cleared"><input type="submit" value="Get gift certificate" name="subscribe" id="mc-embedded-subscribe" class="action_button sign_up button" /></div>
            </div>
          </form>
        </div>
        {% endif %}
        <!--End mc_embed_signup-->
      </div>
    </div>
    </div>
</section>
