<a name="pagecontent" id="pagecontent"></a>
<header class="banner center page_banner page-custom_header dark-overlay-false">
  {% if page.metafields.c_f.featured_image %}
  <img src="{{ page.metafields.c_f.featured_image }}" data-src="{{ page.metafields.c_f.featured_image }}" alt="{{ page.title }}">
  {% endif %}
  <div class="caption caption-background-true caption-transparency-true align-center">
    {% if page.metafields.c_f.tagline %}
    <div class="pretext">
      <p>
        {{ page.metafields.c_f.tagline }}
      </p>
    </div>
    {% endif %}
    <h1 class="headline">
      {{ page.title }}
    </h1>
  </div>
</header>
<div class="container">
  <div>
    {% include 'page-multi-column', content: page.content %}
  </div>
  <div class="feature_divider"></div>
</div>
