{% comment %}
  The contents of the page.memorial-sale.liquid template can be found in /sections/page-memorial-sale-template.liquid This template file is used for the Memorial Day Sale
{% endcomment %}
<a name="pagecontent" id="pagecontent"></a>
{% section 'page-memorial-sale-template' %}
{% section 'additional-logo-bar' %}
