{% comment %}
  The contents of the page.back-school.liquid template can be found in /sections/page-back-school-template.liquid This template file is used for the Back to Schooll
{% endcomment %}
{% section 'page-back-school-template' %}
