{% comment %}
  The contents of the page.mh-fall.liquid template can be found in /sections/page-mh-fall-template.liquid This template file is used for MH Fall
{% endcomment %}
{% section 'page-mh-fall-template' %}
