{% comment %}
  The contents of the page.gear-up-for-summer.liquid template can be found in /sections/page-gear-up-for-summer-template.liquid This template file is used for Gear Up for Summer
{% endcomment %}
{% section 'page-gear-up-for-summer-template' %}
