{% comment %}
  The contents of the page.holiday-gift-guide-2018-snow.liquid template can be found in /sections/page-holiday-gift-guide-2018-snow-template.liquid This template file is used for the Holiday Gift Guide 2018 - Snow
{% endcomment %}
{% section 'page-holiday-gift-guide-2018-snow-template' %}
