{% comment %}
  The contents of the page.about.liquid template can be found in /sections/page-about-template.liquid
{% endcomment %}

{% section 'page-about-template' %}

<!-- {% section 'social-feeds' %} -->
