{% comment %}
  The contents of the page.holiday-gift-guide-2018-climbing.liquid template can be found in /sections/page-holiday-gift-guide-2018-climbing-template.liquid This template file is used for the Holiday Gift Guide 2018 - Climbing
{% endcomment %}
{% section 'page-holiday-gift-guide-2018-climbing-template' %}
