<a name="pagecontent" id="pagecontent"></a>

<div class="center">
  <h2 class="title">
    {{ page.title }}
  </h2>
  <div class="center mens-container">
    <div>
      <div class="container">
        <ul class="parent-links">
          {% for link in linklists.mens-1.links %}
          {% assign child_list_handle = link.title | handleize %}
          {% if linklists[child_list_handle].links != blank %}
          {% unless link.type == 'collection_link' and link.object.products_count == 0 %}
          <li class="site-nav--has-dropdown{% if link.active %} site-nav--active{% endif %}" aria-haspopup="true">
            <a href="{{ link.url }}">
              {{ link.title }}
              <span class="icon-fallback-text">
                <span class="icon icon-arrow-down" aria-hidden="true"></span>
              </span>
            </a>
            <ul class="site-nav--dropdown">
              {% for childlink in linklists[child_list_handle].links %}
              {% unless childlink.type == 'collection_link' and childlink.object.products_count == 0 %}
              <li {% if childlink.active %}class="site-nav--active"{% endif %} class="activity-sub"><a href="{{ childlink.url }}">{{ childlink.title | escape }}</a></li>
              {% endunless %}
              {% endfor %}
            </ul>
          </li>
          {% endunless %}
          {% else %}
          {% unless link.type == 'collection_link' and link.object.products_count == 0 %}
          <li {% if link.active %}class="site-nav--active"{% endif %} class="activity-sub">
            <a href="{{ link.url }}">{{ link.title }}</a>
          </li>
          {% endunless %}
          {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  <div>
    {% include 'page-multi-column', content: page.content %}
  </div>
</div>
