{% comment %}
** Product - default view - copied from - Product with description below - custom view **
- Product template
- Uses blocks
{% endcomment %}

<div class="container main content">
  <a name="pagecontent" id="pagecontent"></a>

  <div class="sixteen columns" data-rv-handle="{{ product.handle }}">
    {% if collection.previous_product or collection.next_product or section.settings.product_breadcrumb %}
      <div class="clearfix breadcrumb-collection">
        {% if collection.previous_product or collection.next_product %}
          <div class="nav_arrows breadcrumb_text">
            {% if collection.previous_product %}
              <a href="{{ collection.previous_product }}" title="{{ 'products.general.previous_product_html' | t }}" class="breadcrumb_link"><span class="icon-left-arrow"> {{ 'products.general.previous_product_html' | t }}</span></a>
            {% endif %}
            {% if collection.previous_product and collection.next_product %}<span class="breadcrumb-divider"> | </span>{% endif %}

            {% if collection.next_product %}
              <a href="{{collection.next_product}}" title="{{ 'products.general.next_product_html' | t }}" class="breadcrumb_link">{{ 'products.general.next_product_html' | t }} <span class="icon-right-arrow"></span></a>
            {% endif %}
          </div>
        {% endif %}

        {% if section.settings.product_breadcrumb %}
          <div class="breadcrumb_text" itemscope itemtype="http://schema.org/BreadcrumbList">
            <span itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><a href="{{ shop.url }}" title="{{ shop.name | escape }}" itemprop="item" class="breadcrumb_link"><span itemprop="name">{{ 'general.breadcrumbs.home' | t }}</span></a></span>
            <span class="breadcrumb-divider">/</span>
            <span itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
              {% if collection %}
                <a href="{{ collection.url }}" title="{{ collection.title | escape | split: ":" | last }}" itemprop="item" class="breadcrumb_link"><span itemprop="name">{{ collection.title | split: ":" | last }}</span></a>
              {% else %}
                <a href="/collections/all" title="{{ collections.all.title }}" class="breadcrumb_link"><span>{{ collections.all.title }}</span></a>
              {% endif %}
            </span>
            <span class="breadcrumb-divider">/</span>
            {{ product.title }}
          </div>
        {% endif %}
      </div>
    {% endif %}
  </div>

  {% comment %}Check to see if sidebar should be enabled{% endcomment %}
  {% if section.blocks.size > 0 %}
    {% assign sidebar = true %}
  {% else %}
    {% assign sidebar = false %}
  {% endif %}

  {% if sidebar %}
  <div class="product">
    {% include 'sidebar' %}
   </div>
    <div class="twelve columns">
      <div class="product-{{ product.id }} rv-product" data-free-text="{{ settings.free_price_text }}">
  {% else %}
    <div class="sixteen columns">
      <div class="product-{{ product.id }} rv-product" data-free-text="{{ settings.free_price_text }}">
  {% endif %}

    <div class="section product_section clearfix js-product_section" itemscope itemtype="http://schema.org/Product" data-rv-handle="{{ product.handle }}">

      <div class="{% if sidebar %}seven{% else %}nine{% endif %} columns {% if product-images == blank %}{% if section.settings.product_images_position == 'left' %}alpha{% else %}omega{% endif %}{% endif %} {% if section.settings.product_images_position == 'right' %}mobile_only{% endif %}">
        {% include 'product-images' %}
      </div>

      <div class="{% if sidebar %}five{% else %}seven{% endif %} columns {% if section.settings.product_images_position == 'left' %}omega{% else %}alpha{% endif %}">

        {% assign collection_handles = product.collections | map: 'handle' %}
        {% assign variant = product.selected_or_first_available_variant %}

        {% if product.available %}
          {% if settings.sale_banner_enabled and product.compare_at_price_max > product.price and product.price_varies == false %}
            <div class="sale_banner_product">{{ 'collections.general.sale' | t }}</div>
          {% endif %}
          {% if settings.sale_banner_enabled and product.price_varies and product.price_min > 0 and variant.price < variant.compare_at_price and variant.available %}
            <div class="sale_banner_product sale_some">
              {{ 'collections.general.sale' | t }}*
              <small>selected items</small>
            </div>
          {% endif %}
        {% endif %}
        {% if collection_handles contains 'new' %}
          <div class="new_banner_product">{{ 'collections.general.new' | t }}</div>
        {% endif %}
        {% if collection_handles contains 'pre-order' %}
          <div class="preorder_banner_product">{{ 'collections.general.pre_order' | t }}</div>
        {% endif %}

        {% if section.settings.display_vendor %}
          <p class="vendor">
            {% assign vendor_handle = product.vendor | handleize %}
            {% if collections[vendor_handle].metafields.c_f.brand_logo_product %}
              <a href="{{ collections[vendor_handle].url }}">
                <img src="https://cdn.shopify.com/s/files/1/1933/1869/files/{{ collections[vendor_handle].metafields.c_f.brand_logo_product }}" alt="Brand Logo" class="transition-in brand-logo lazyloaded">
              </a>
            {% else %}
              <span itemprop="brand" class="vendor">
                {% if collections[vendor_handle] != blank %}
                  {{ product.vendor | link_to: collections[vendor_handle].url }}
                {% else %}
                  {{ product.vendor | link_to_vendor }}
                {% endif %}
              </span>
            {% endif %}
          </p>
        {% endif %}

        <h1 class="product_name" itemprop="name">{{ product.title }}</h1>

        {% if settings.enable_shopify_product_badges and settings.enable_shopify_review_comments %}

        <!-- <a href="#shopify-product-reviews"><span class="stamped-product-reviews-badge stamped-main-badge" data-id="{{ product.id }}" style="display: inline-block;">{{ product.metafields.stamped.badge }}</span></a> -->

        <div class="review-sidebar">
          <span class="stamped-product-reviews-badge stamped-main-badge" data-id="{{ product.id }}">{{ product.metafields.stamped.badge }}</span>
          <!-- <a class="action_button review-submit review-top" href="#popupreview">Submit a review to win $500</a> -->
        </div>

        {% endif %}
        <!-- <div class="feature_divider"></div> -->

        {% assign product_tags = product.tags | join: ' ' %}
        {% if product_tags contains 'meta-size-chart-' %}
          {% for tag in product.tags %}
            {% if tag contains 'meta-size-chart-' %}
              <a href="#size-chart{{product.id}}" class="size_chart" data-remodal-target="size-chart{{product.id}}" data-no-instant>{{ 'products.product.size_chart' | t }} <span class="icon-right-arrow"></span></a>
              {% include 'popup-size-chart', product_id: product.id %}
            {% endif %}
          {% endfor %}
        {% elsif settings.size_chart != blank %}
          <a href="#size-chart" class="size_chart" data-remodal-target="size-chart" data-no-instant>{{ 'products.product.size_chart' | t }} <span class="icon-right-arrow"></span></a>
        {% endif %}

        {% if collection_handles contains 'coming-soon' %}
          <p class="modal_price">{{ 'collections.general.coming_soon' | t }}</p>
        {% else %}
          <p class="modal_price" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
            <meta itemprop="priceCurrency" content="{{ shop.currency }}" />
            <meta itemprop="seller" content="{{ shop.name | escape }}" />
            <link itemprop="availability" href="http://schema.org/{% if variant.available %}InStock{% else %}OutOfStock{% endif %}">
            <meta itemprop="itemCondition" content="New" />

            <span class="sold_out" style="display:block;">{% if variant.available == false %}{{ 'products.product.sold_out' | t }}{% endif %}</span>
            <span itemprop="price" content="{{ variant.price | money_without_currency | remove: "," }}" class="{% if variant.compare_at_price > variant.price %}sale{% endif %}">
              <span class="current_price {%comment%}{% if product.available == false %}hidden{% endif %}{%endcomment%}">
                {% if variant.price > 0 %}
                  <span class="money">{{ variant.price | money }}</span>
                {% else %}
                  {{ settings.free_price_text }}
                {% endif %}
              </span>
            </span>
            <span class="was_price">
              {% if variant.price < variant.compare_at_price and variant.available %}
                <span class="money">{{ variant.compare_at_price | money }}</span>
              {% endif %}
            </span>

            {% if section.settings.display_savings %}
              <span class="sale savings">
                {% if variant.price < variant.compare_at_price and variant.available %}
                  {{ 'products.product.savings' | t }}  {{ variant.compare_at_price | minus: variant.price | times: 100 | divided_by: variant.compare_at_price }}% (<span class="money">{{ variant.compare_at_price | minus: variant.price | money }} off</span>)
                {% endif %}
              </span>
            {% endif %}
          </p>

          {% if cart.requires_shipping %}
            {% if cart.total_price >= 5000 %}
              <div class="free-2-day cart">
                <p class="text-smaller">
                  Your order qualifies for
                </p>
                <h3><a href="#popup-terms" data-remodal-target="popup-terms">FREE 2-DAY SHIPPING</a></h3>
              </div>
            {% else %}
              <div class="free-2-day cart">
                <h3><a href="#popup-terms" data-remodal-target="popup-terms">FREE 2-DAY SHIPPING</a></h3>
                <p class="text-smaller">
                  on orders over $50
                </p>
              </div>
            {% endif %}
            {% else %}
            <div class="free-2-day cart">
              <h3><a href="#popup-terms" data-remodal-target="popup-terms">FREE 2-DAY SHIPPING</a></h3>
              <p class="text-smaller">
                on orders over $50
              </p>
            </div>
          {% endif %}

          {% include 'product-notify-me' %}
        {% endif %}

        {% unless collection_handles contains 'coming-soon' %}
          <div class="primary-product-form">
            {% include 'product-form' with 'product' %}
          </div>
        {% endunless %}

        {% unless product.available %}
          <a class="action_button klaviyo-bis-trigger" href="#">Notify Me When Available</a>
        {% endunless %}

        {% if settings.enable_shopify_review_comments and settings.review_position == "next_to_gallery" %}
          <div id="stamped-main-widget" data-product-id="{{ product.id }}" data-name="{{ product.title | escape }}" data-url="{{ shop.url }}{{ product.url }}" data-image-url="{{ product.featured_image | product_img_url: "large" |replace: '?', '%3F' | replace: '&','%26'}}" data-description="{{ product.description | escape }}" data-product-sku="{{product.handle}}"> {{ product.metafields.stamped.reviews }} </div>
        {% endif %}

        {% if section.settings.display_collections or section.settings.display_tags or section.settings.display_type %}
          <div class="product_links">
            {% if settings.display_collections %}
              <p>
                <span class="label">{{ 'products.product.collections' | t }}:</span>
                <span>
                 {% for col in product.collections %}
                   <a href="{{ col.url }}" title="{{ col.title | split: ":" | last }}">{{ col.title | split: ":" | last }}</a>{% unless forloop.last %},{% endunless %}
                 {% endfor %}
                </span>
              </p>
            {% endif %}

            {% if section.settings.display_type %}
              <p>
                <span class="label">{{ 'products.product.product_types' | t }}:</span>
                <span>{{ product.type | link_to_type }}</span>
              </p>
            {% endif %}

            {% if section.settings.display_tags %}
              <p>
               {% for tag in product.tags %}
                 {% if forloop.first %}
                   <span class="label">{{ 'products.product.tags' | t }}:</span>
                 {% endif %}

                 {% unless tag contains 'meta-' %}
                   <span>
                     <a href="/collections/{% if collection %}{{ collection.handle }}{% else %}all{% endif %}/{{ tag | handle }}" title="{{ 'products.product.products_tagged' | t: tag: tag }}">{{ tag }}</a>{% unless forloop.last %},{% endunless %}
                     </span>
                 {% endunless %}
               {% endfor %}
              </p>
            {% endif %}
          </div>
        {% endif %}

        <div class="coop-guarantee">
          <a href="#popup-terms" data-remodal-target="popup-terms" title="Free 2-day Shipping">
            <img src="{{ '2dayshipping-icon-black.png' | asset_url }}" />
            <img class="icon-hover" src="{{ '2dayshipping-icon-color.png' | asset_url }}" />
            <h6>Free 2-Day Shipping</h6>
            <p>
              on orders over $50*
            </p>
          </a>
          <!-- <a href="#popup-returns" data-remodal-target="popup-returns" title="Free Return Shipping">
            <img src="{{ 'freereturns-icon-black.png' | asset_url }}" />
            <img class="icon-hover" src="{{ 'freereturns-icon-color.png' | asset_url }}" />
            <h6>Free Return Shipping</h6>
            <p>
              within 30 days of purchase*
            </p>
          </a> -->
          <a href="#popup-price-match" data-remodal-target="popup-price-match" title="We Price Match">
            <img src="{{ 'pricematch-icon-black.png' | asset_url }}" />
            <img class="icon-hover" src="{{ 'pricematch-icon-color.png' | asset_url }}" />
            <h6>We Price Match</h6>
            <p>
              just ask us!
            </p>
          </a>
        </div>

        <div class="meta">
          {% if section.settings.display_social_buttons %}
            {% include "social-buttons" with "product" %}
          {% endif %}
        </div>
      </div>

      {% if section.settings.product_images_position == 'right' %}
        <div class="{% if sidebar %}seven{% else %}nine{% endif %} columns {% if product-images == blank %}{% if section.settings.product_images_position == 'left' %}alpha{% else %}omega{% endif %}{% endif %} mobile_hidden">
          {% include 'product-images' %}
        </div>
      {% endif %}
    </div>

    <!-- <br class="clear" /> -->
    <div class="section clearfix desc_section">
      <div class="description center">
        <!-- <h2>Details</h2> -->
        {{ product.description }}
      </div>
    </div>

    {% if product.metafields.c_f.product_lifestyle_title %}
      <div class="section clearfix">
        <div class="product-lifestyle">
          <h2>{{ product.metafields.c_f.product_lifestyle_title }}</h2>
          <div class="product-lifestyle-gallery">
            {% if product.metafields.c_f.product_lifestyle_one %}
              <div class="product-lifestyle-photo">
                <div class="gallery-cell">
                  <a href="{{ product.metafields.c_f.product_lifestyle_one }}" class="lightbox" rel="detail-gallery" data-remodal-target="lightbox-id-0" data-image-id="0" data-no-instant="">
                    <img src="{{ product.metafields.c_f.product_lifestyle_one }}" alt="">
                  </a>
                </div>
              </div>
            {% endif %}
            {% if product.metafields.c_f.product_lifestyle_two %}
              <div class="product-lifestyle-photo">
                <div class="gallery-cell">
                  <a href="{{ product.metafields.c_f.product_lifestyle_two }}" class="lightbox" rel="detail-gallery" data-remodal-target="lightbox-id-0" data-image-id="1" data-no-instant="">
                    <img src="{{ product.metafields.c_f.product_lifestyle_two }}" alt="">
                  </a>
                </div>
              </div>
            {% endif %}
            {% if product.metafields.c_f.product_lifestyle_three %}
              <div class="product-lifestyle-photo">
                <div class="gallery-cell">
                  <a href="{{ product.metafields.c_f.product_lifestyle_three }}" class="lightbox" rel="detail-gallery" data-remodal-target="lightbox-id-0" data-image-id="2" data-no-instant="">
                    <img src="{{ product.metafields.c_f.product_lifestyle_three }}" alt="">
                  </a>
                </div>
              </div>
            {% endif %}
            {% if product.metafields.c_f.product_lifestyle_four %}
              <div class="product-lifestyle-photo">
                <div class="gallery-cell">
                  <a href="{{ product.metafields.c_f.product_lifestyle_four }}" class="lightbox" rel="detail-gallery" data-remodal-target="lightbox-id-0" data-image-id="3" data-no-instant="">
                    <img src="{{ product.metafields.c_f.product_lifestyle_four }}" alt="">
                  </a>
                </div>
              </div>
            {% endif %}
          </div>
        </div>
      </div>
    {% endif %}

    {% if product.metafields.c_f.product_extratext_one %}
      <div class="section clearfix">
        <div class="center">
          <h2 class="uppercase">{{ product.metafields.c_f.product_extratext_title_one }}</h2>
          {{ product.metafields.c_f.product_extratext_one }}
        </div>
      </div>
    {% endif %}
    {% if product.metafields.c_f.product_extratext_two %}
      <div class="section clearfix">
        <div class="center">
          <h2 class="uppercase">{{ product.metafields.c_f.product_extratext_title_two }}</h2>
          {{ product.metafields.c_f.product_extratext_two }}
        </div>
      </div>
    {% endif %}
    {% if product.metafields.c_f.product_extratext_three %}
      <div class="section clearfix">
        <div class="center">
          <h2 class="uppercase">{{ product.metafields.c_f.product_extratext_title_three }}</h2>
          {{ product.metafields.c_f.product_extratext_three }}
        </div>
      </div>
    {% endif %}
    {% if product.metafields.c_f.product_extratext_four %}
      <div class="section clearfix">
        <div class="center">
          <h2 class="uppercase">{{ product.metafields.c_f.product_extratext_title_four }}</h2>
          {{ product.metafields.c_f.product_extratext_four }}
        </div>
      </div>
    {% endif %}

    <!-- {% if variant.sku != blank and section.settings.display_sku %}
      <p class="sku">
        Sku:&nbsp;<i itemprop="sku">{{ variant.sku }}</i>
      </p>
    {% endif %} -->

    </div>

    {% if sidebar %}

            {% if section.settings.display_related_products %}
              {% include 'related-products' %}
            {% endif %}

          </div>
        </div>
      </div>

    {% else %}
          </div>
        </div>

      </div>

      <!-- {% if section.settings.display_related_products %}
        {% include 'related-products' %}
      {% endif %} -->

    {% endif %}

    {% if product.metafields.c_f.product_video_url %}
    <div class="video-section">
      {% if product.metafields.c_f.product_video_provider %}
      <section class="homepage-video collection-custom_video darken-video-false  placeholder-image--true" data-video-id="video-brand-collection" data-autoplay="false" data-autoloop="false" data-display-text-over-video="false" data-video-src="{{ product.metafields.c_f.product_video_url }}" data-aspect-ratio="16:9" data-provider="{{ product.metafields.c_f.product_video_provider }}" data-video-mp4="" data-video-ogv="">
      {% endif %}
        <div class="homepage-video--media">
          {% if product.metafields.c_f.product_video_image %}
          <img src="{{ product.metafields.c_f.product_video_image }}" alt="Brand Video Section" class="blur-up homepage-video__image lazyloaded" data-play-video="" sizes="100vw" data-src="{{ product.metafields.c_f.product_video_image }}" srcset="
                          {{ product.metafields.c_f.product_video_image }} 1400w,
                          {{ product.metafields.c_f.product_video_image }} 480w,
                          {{ product.metafields.c_f.product_video_image }} 765w,
                          {{ product.metafields.c_f.product_video_image }} 900w,
                          {{ product.metafields.c_f.product_video_image }} 1000w,
                          {{ product.metafields.c_f.product_video_image }} 1100w,
                          {{ product.metafields.c_f.product_video_image }} 1300w,
                          {{ product.metafields.c_f.product_video_image }} 1500w,
                          {{ product.metafields.c_f.product_video_image }} 1700w,
                          {{ product.metafields.c_f.product_video_image }} 1900w,
                          {{ product.metafields.c_f.product_video_image }} 2000w">
          {% endif %}
          <div class="position-center caption js-caption text-on-video">
            <div class="caption-content caption-background-true caption-transparency-true align-center">
              {% if product.metafields.c_f.product_video_preheader %}
              <div class="pretext">
                <p>{{ product.metafields.c_f.product_video_preheader }}</p>
              </div>
              {% endif %}
              {% if product.metafields.c_f.product_video_title %}
              <h1 class="headline">{{ product.metafields.c_f.product_video_title }}</h1>
              {% endif %}
              {% if product.metafields.c_f.product_video_subheader %}
              <div class="subtitle">
                <p>{{ product.metafields.c_f.product_video_subheader }}</p>
              </div>
              {% endif %}
              <a data-play-video-button="" class="action_button first_button highlight-false video__play-button" style="width: 153.984px;">Play Video</a>
            </div>
          </div>
        </div>
      </section>
    </div>
    {% endif %}

    {% if settings.enable_shopify_review_comments and settings.review_position == "below_gallery" %}

      <!-- <div class="review-popup-container">
        <div class="review-box">
        	<a class="action_button review-button" href="#popupreview">Submit a review for a chance to win $500</a>
        </div>
        <div id="popupreview" class="review-overlay">
        	<div class="review-popup">
        		<a class="review-close" href="#shopify-product-reviews">&times;</a>
        		{{ pages["reviews-pop-up"].content }}
        	</div>
        </div>
      </div> -->
      <div class="container reviews-container">
        <div class="shopify-reviews">
            <div id="stamped-main-widget" data-product-id="{{ product.id }}" data-name="{{ product.title | escape }}" data-url="{{ shop.url }}{{ product.url }}" data-image-url="{{ product.featured_image | product_img_url: "large" |replace: '?', '%3F' | replace: '&','%26'}}" data-description="{{ product.description | escape }}" data-product-sku="{{product.handle}}"> {{ product.metafields.stamped.reviews }} </div>
        </div>
      </div>


    {% endif %}

  {% if sidebar %}

          {% if section.settings.display_recently_viewed %}
            {% include 'recently-viewed' %}
          {% endif %}

        </div>
      </div>
    </div>

  {% else %}
        </div>
      </div>

      <!-- {% include 'instagram-widget' %} -->

    </div>

    {% if section.settings.display_recently_viewed %}
      {% include 'recently-viewed' %}
    {% endif %}

  {% endif %}



{% schema %}

{
  "name": "Product bottom",
  "class": "product-template product-description-bottom-template",
  "settings": [
    {
      "type": "header",
      "content": "Product gallery"
    },
    {
      "type": "checkbox",
      "id": "gallery_arrows",
      "label": "Show arrows on product gallery"
    },
    {
      "type": "checkbox",
      "id": "activate_zoom",
      "label": "Magnify product images on hover"
    },
    {
      "type": "checkbox",
      "id": "enable_product_lightbox",
      "label": "Enable product gallery popup",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "activate_autoplay",
      "label": "Enable product gallery slideshow"
    },
    {
      "type": "select",
      "id": "slideshow_animation",
      "label": "Gallery transition",
      "options": [
        {
          "value": "slide",
          "label": "Slide"
        },
        {
          "value": "fade",
          "label": "Fade"
        }
      ],
      "default": "slide"
    },
    {
      "type": "radio",
      "id": "product_images_position",
      "label": "Gallery position",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "product_thumbs",
      "label": "Show product gallery thumbnails"
    },
    {
      "type": "select",
      "id": "thumbnail_position",
      "label": "Thumbnail position",
      "default": "bottom-thumbnails",
      "options": [
        {
          "value": "left-thumbnails",
          "label": "Left"
        },
        {
          "value": "bottom-thumbnails",
          "label": "Bottom"
        },
        {
          "value": "right-thumbnails",
          "label": "Right"
        }
      ]
    },
    {
      "type": "header",
      "content": "Product info"
    },
    {
      "type": "checkbox",
      "id": "product_breadcrumb",
      "label": "Show breadcrumb links"
    },
    {
      "type": "checkbox",
      "id": "display_vendor",
      "label": "Show vendor"
    },
    {
      "type": "checkbox",
      "id": "display_sku",
      "label": "Show SKU"
    },
    {
      "type": "checkbox",
      "id": "display_savings",
      "label": "Show price savings",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_payment_button",
      "label": "Show dynamic checkout button",
      "default": false,
      "info": "Lets customers check out directly using a familiar payment method. [Learn more](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)"
    },
    {
      "type": "checkbox",
      "id": "display_collections",
      "label": "Show collections"
    },
    {
      "type": "checkbox",
      "id": "display_type",
      "label": "Show type"
    },
    {
      "type": "checkbox",
      "id": "display_tags",
      "label": "Show tags"
    },
    {
      "type": "checkbox",
      "id": "display_social_buttons",
      "label": "Show social media share icons",
      "default": true
    },
    {
      "type": "header",
      "content": "Related products"
    },
    {
      "type": "checkbox",
      "id": "display_related_products",
      "label": "Show related products ([?](https:\/\/help.outofthesandbox.com\/hc\/en-us\/articles\/115006909487-Related-Products))",
      "default": true
    },
    {
      "type": "radio",
      "id": "related_products_style",
      "label": "Layout",
      "default": "grid",
      "options": [
        {
          "value": "slider",
          "label": "Slider"
        },
        {
          "value": "grid",
          "label": "Grid"
        }
      ]
    },
    {
      "type": "range",
      "id": "related_products_limit",
      "label": "Limit products",
      "min": 2,
      "max": 50,
      "step": 1,
      "default": 12
    },
    {
      "type": "range",
      "id": "products_per",
      "label": "Products per row",
      "min": 3,
      "max": 5,
      "step": 1,
      "default": 3
    },
    {
      "type": "header",
      "content": "Recently viewed products"
    },
    {
      "type": "paragraph",
      "content": "To test the recently viewed products, view your online store outside of the Editor and visit multiple product pages ([?](https:\/\/help.outofthesandbox.com\/hc\/en-us\/articles\/115008765228))"
    },
    {
      "type": "checkbox",
      "id": "display_recently_viewed",
      "label": "Show recently viewed products",
      "default": false
    },
    {
      "type": "text",
      "id": "rv_title",
      "label": "Title",
      "default": "Recently Viewed"
    },
    {
      "type": "radio",
      "id": "rv_products_style",
      "label": "Layout",
      "default": "grid",
      "options": [
        {
          "value": "slider",
          "label": "Slider"
        },
        {
          "value": "grid",
          "label": "Grid"
        }
      ]
    },
    {
      "type": "range",
      "id": "rv_max_display",
      "label": "Products limit",
      "min": 3,
      "max": 12,
      "step": 1,
      "default": 6
    },
    {
      "type": "range",
      "id": "rv_per",
      "label": "Products per row",
      "min": 3,
      "max": 5,
      "step": 1,
      "default": 3
    },
    {
      "type": "header",
      "content": "Sidebar"
    },
    {
      "type": "paragraph",
      "content": "Create a sidebar by adding content blocks."
    },
    {
      "type": "checkbox",
      "id": "toggle",
      "label": "Toggle sidebar content",
      "default": false
    }
  ],
  "blocks": [
    {
      "type": "filter_by_collection",
      "name": "Collection list",
      "limit": 1
    },
    {
      "type": "menu",
      "name": "Menu",
      "settings": [
        {
          "type": "link_list",
          "id": "custom_menu_linklist",
          "label": "Menu"
        }
      ]
    },
    {
      "type": "page",
      "name": "Page",
      "settings": [
        {
          "type": "page",
          "id": "content_page",
          "label": "Page"
        }
      ]
    },
    {
      "type": "recently_viewed",
      "name": "Recently viewed products",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "To test the recently viewed products, view your online store outside of the Editor and visit multiple product pages ([?](https:\/\/help.outofthesandbox.com\/hc\/en-us\/articles\/115008765228))"
        },
        {
          "type": "text",
          "id": "sidebar_rv_title",
          "label": "Title",
          "default": "Recently Viewed"
        },
        {
          "type": "range",
          "id": "sidebar_rv_per",
          "label": "Products limit",
          "min": 1,
          "max": 4,
          "step": 1,
          "default": 3
        }
      ]
    },
    {
      "type": "filter_by_tag",
      "name": "Tag list",
      "limit": 1
    },
    {
      "type": "text",
      "name": "Text",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Heading"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Text",
          "default": "<p>Text area can be used for special announcements or general information.</p>"
        }
      ]
    },
    {
      "type": "filter_by_type",
      "name": "Type list",
      "limit": 1
    },
    {
      "type": "filter_by_vendor",
      "name": "Vendor list",
      "limit": 1
    }
  ],
  "default": {
    "settings": {

    }
  }
}

{% endschema %}
