{% comment %}
  The contents of the page.belay-devices.liquid template can be found in /sections/page-belay-devices-template.liquid This template file is used for Belay Devices Page
{% endcomment %}
{% section 'page-belay-devices-template' %}
