{% comment %}
  The contents of the page.climbing-apparel.liquid template can be found in /sections/page-tnf-beyondthewall-template.liquid This template file is used for the TNF - Beyond the Wall
{% endcomment %}
{% section 'page-tnf-beyondthewall-template' %}
