{% comment %}
  The contents of the page.july-fourth.liquid template can be found in /sections/page-july-fourth-template.liquid This template file is used for the 4th of July Page
{% endcomment %}
{% section 'page-july-fourth-template' %}
