{% comment %}
  The contents of the page.sendtember.liquid template can be found in /sections/page-sendtember-template.liquid This template file is used for Sendtember
{% endcomment %}
{% section 'page-sendtember-template' %}
