{% comment %}
  The contents of the page.smartwool-fall.liquid template can be found in /sections/page-smartwool-fall-template.liquid This template file is used for Smartwool Fall
{% endcomment %}
{% section 'page-smartwool-fall-template' %}
