<a name="pagecontent" id="pagecontent"></a>

<div class="center">
  <h2 class="title">
    {{ page.title }}
  </h2>
  <div class="center">
    <div class="tab activity-tab climb">
      <input id="tab-one" type="checkbox" name="tabs2">
      <label class="activity" for="tab-one"><h2>Climbing</h2></label>
      <div class="tab-content">
        <div class="container">
          <ul id="climb-activity" class="activity-list">
            {% for link in linklists.climbing-1.links %}
            {% assign child_list_handle = link.title | handleize %}
            {% if linklists[child_list_handle].links != blank %}
            {% unless link.type == 'collection_link' and link.object.products_count == 0 %}
            <li class="site-nav--has-dropdown{% if link.active %} site-nav--active{% endif %}" aria-haspopup="true">
              <a href="{{ link.url }}">
                {{ link.title }}
                <span class="icon-fallback-text">
                  <span class="icon icon-arrow-down" aria-hidden="true"></span>
                </span>
              </a>
              {% comment %}
              <ul class="site-nav--dropdown">
                {% for childlink in linklists[child_list_handle].links %}
                {% unless childlink.type == 'collection_link' and childlink.object.products_count == 0 %}
                <li {% if childlink.active %}class="site-nav--active"{% endif %} class="activity-sub"><a href="{{ childlink.url }}">{{ childlink.title | escape }}</a></li>
                {% endunless %}
                {% endfor %}
              </ul>
              {% endcomment %}
            </li>
            {% endunless %}
            {% else %}
            {% unless link.type == 'collection_link' and link.object.products_count == 0 %}
            <li {% if link.active %}class="site-nav--active"{% endif %} class="activity-sub">
              <a href="{{ link.url }}">{{ link.title }}</a>
            </li>
            {% endunless %}
            {% endif %}
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
    <div class="tab activity-tab campandhike">
      <input id="tab-two" type="checkbox" name="tabs2">
      <label class="activity" for="tab-two"><h2>Camp & Hike</h2></label>
      <div class="tab-content">
        <div class="container">
          <ul id="camp-hike-activity" class="activity-list">
            {% for link in linklists.camping-and-hiking.links %}
            {% assign child_list_handle = link.title | handleize %}
            {% if linklists[child_list_handle].links != blank %}
            {% unless link.type == 'collection_link' and link.object.products_count == 0 %}
            <li class="site-nav--has-dropdown{% if link.active %} site-nav--active{% endif %}" aria-haspopup="true">
              <a href="{{ link.url }}">
                {{ link.title }}
                <span class="icon-fallback-text">
                  <span class="icon icon-arrow-down" aria-hidden="true"></span>
                </span>
              </a>
              {% comment %}
              <ul class="site-nav--dropdown">
                {% for childlink in linklists[child_list_handle].links %}
                {% unless childlink.type == 'collection_link' and childlink.object.products_count == 0 %}
                <li {% if childlink.active %}class="site-nav--active"{% endif %} class="activity-sub"><a href="{{ childlink.url }}">{{ childlink.title | escape }}</a></li>
                {% endunless %}
                {% endfor %}
              </ul>
              {% endcomment %}
            </li>
            {% endunless %}
            {% else %}
            {% unless link.type == 'collection_link' and link.object.products_count == 0 %}
            <li {% if link.active %}class="site-nav--active"{% endif %} class="activity-sub">
              <a href="{{ link.url }}">{{ link.title }}</a>
            </li>
            {% endunless %}
            {% endif %}
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
    <div class="tab activity-tab run">
      <input id="tab-three" type="checkbox" name="tabs2">
      <label class="activity" for="tab-three"><h2>Travel and Adventure</h2></label>
      <div class="tab-content">
        <div class="container">
          <ul id="run-activity" class="activity-list">
            {% for link in linklists.travel-and-adventure.links %}
            {% assign child_list_handle = link.title | handleize %}
            {% if linklists[child_list_handle].links != blank %}
            {% unless link.type == 'collection_link' and link.object.products_count == 0 %}
            <li class="site-nav--has-dropdown{% if link.active %} site-nav--active{% endif %}" aria-haspopup="true">
              <a href="{{ link.url }}">
                {{ link.title }}
                <span class="icon-fallback-text">
                  <span class="icon icon-arrow-down" aria-hidden="true"></span>
                </span>
              </a>
              {% comment %}
              <ul class="site-nav--dropdown">
                {% for childlink in linklists[child_list_handle].links %}
                {% unless childlink.type == 'collection_link' and childlink.object.products_count == 0 %}
                <li {% if childlink.active %}class="site-nav--active"{% endif %} class="activity-sub"><a href="{{ childlink.url }}">{{ childlink.title | escape }}</a></li>
                {% endunless %}
                {% endfor %}
              </ul>
              {% endcomment %}
            </li>
            {% endunless %}
            {% else %}
            {% unless link.type == 'collection_link' and link.object.products_count == 0 %}
            <li {% if link.active %}class="site-nav--active"{% endif %} class="activity-sub">
              <a href="{{ link.url }}">{{ link.title }}</a>
            </li>
            {% endunless %}
            {% endif %}
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
    <div class="tab activity-tab snowboard">
      <input id="tab-four" type="checkbox" name="tabs2">
      <label class="activity" for="tab-four"><h2>Snow Sports</h2></label>
      <div class="tab-content">
        <div class="container">
          <ul id="snowboard-activity" class="activity-list">
            {% for link in linklists.snow-sports.links %}
            {% assign child_list_handle = link.title | handleize %}
            {% if linklists[child_list_handle].links != blank %}
            {% unless link.type == 'collection_link' and link.object.products_count == 0 %}
            <li class="site-nav--has-dropdown{% if link.active %} site-nav--active{% endif %}" aria-haspopup="true">
              <a href="{{ link.url }}">
                {{ link.title }}
                <span class="icon-fallback-text">
                  <span class="icon icon-arrow-down" aria-hidden="true"></span>
                </span>
              </a>
              {% comment %}
              <ul class="site-nav--dropdown">
                {% for childlink in linklists[child_list_handle].links %}
                {% unless childlink.type == 'collection_link' and childlink.object.products_count == 0 %}
                <li {% if childlink.active %}class="site-nav--active"{% endif %} class="activity-sub"><a href="{{ childlink.url }}">{{ childlink.title | escape }}</a></li>
                {% endunless %}
                {% endfor %}
              </ul>
              {% endcomment %}
            </li>
            {% endunless %}
            {% else %}
            {% unless link.type == 'collection_link' and link.object.products_count == 0 %}
            <li {% if link.active %}class="site-nav--active"{% endif %} class="activity-sub">
              <a href="{{ link.url }}">{{ link.title }}</a>
            </li>
            {% endunless %}
            {% endif %}
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
    <div class="tab activity-tab cycle">
      <input id="tab-six" type="checkbox" name="tabs2">
      <label class="activity" for="tab-six"><h2>Cycling</h2></label>
      <div class="tab-content">
        <div class="container">
          <ul id="cycle-activity" class="activity-list">
            {% for link in linklists.cycling-1.links %}
            {% assign child_list_handle = link.title | handleize %}
            {% if linklists[child_list_handle].links != blank %}
            {% unless link.type == 'collection_link' and link.object.products_count == 0 %}
            <li class="site-nav--has-dropdown{% if link.active %} site-nav--active{% endif %}" aria-haspopup="true">
              <a href="{{ link.url }}">
                {{ link.title }}
                <span class="icon-fallback-text">
                  <span class="icon icon-arrow-down" aria-hidden="true"></span>
                </span>
              </a>
              {% comment %}
              <ul class="site-nav--dropdown">
                {% for childlink in linklists[child_list_handle].links %}
                {% unless childlink.type == 'collection_link' and childlink.object.products_count == 0 %}
                <li {% if childlink.active %}class="site-nav--active"{% endif %} class="activity-sub"><a href="{{ childlink.url }}">{{ childlink.title | escape }}</a></li>
                {% endunless %}
                {% endfor %}
              </ul>
              {% endcomment %}
            </li>
            {% endunless %}
            {% else %}
            {% unless link.type == 'collection_link' and link.object.products_count == 0 %}
            <li {% if link.active %}class="site-nav--active"{% endif %} class="activity-sub">
              <a href="{{ link.url }}">{{ link.title }}</a>
            </li>
            {% endunless %}
            {% endif %}
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
    <div class="tab activity-tab surf-more">
      <input id="tab-fourteen" type="checkbox" name="tabs2">
      <label class="activity" for="tab-fourteen"><h2>Sports</h2></label>
      <div class="tab-content">
        <div class="container">
          <ul id="surf-more-activity" class="activity-list">
            {% for link in linklists.sports.links %}
            {% assign child_list_handle = link.title | handleize %}
            {% if linklists[child_list_handle].links != blank %}
            {% unless link.type == 'collection_link' and link.object.products_count == 0 %}
            <li class="site-nav--has-dropdown{% if link.active %} site-nav--active{% endif %}" aria-haspopup="true">
              <a href="{{ link.url }}">
                {{ link.title }}
                <span class="icon-fallback-text">
                  <span class="icon icon-arrow-down" aria-hidden="true"></span>
                </span>
              </a>
              {% comment %}
              <ul class="site-nav--dropdown">
                {% for childlink in linklists[child_list_handle].links %}
                {% unless childlink.type == 'collection_link' and childlink.object.products_count == 0 %}
                <li {% if childlink.active %}class="site-nav--active"{% endif %} class="activity-sub"><a href="{{ childlink.url }}">{{ childlink.title | escape }}</a></li>
                {% endunless %}
                {% endfor %}
              </ul>
              {% endcomment %}
            </li>
            {% endunless %}
            {% else %}
            {% unless link.type == 'collection_link' and link.object.products_count == 0 %}
            <li {% if link.active %}class="site-nav--active"{% endif %} class="activity-sub">
              <a href="{{ link.url }}">{{ link.title }}</a>
            </li>
            {% endunless %}
            {% endif %}
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div>
    {% include 'page-multi-column', content: page.content %}
  </div>
</div>
