{% comment %}
  The contents of the page.holiday-gift-guide-2018-snow.liquid template can be found in /sections/page-black-friday-2018-template.liquid This template file is used for the Black Firday 2018
{% endcomment %}
{% section 'page-black-friday-2018-template' %}
{% section 'bf-2018-template-logos' %}
