{% comment %}
  The contents of the page.labor-day.liquid template can be found in /sections/page-labor-day-template.liquid This template file is used for Labor Day
{% endcomment %}
{% section 'page-labor-day-template' %}
{% section 'logo-bar' %}
