{% comment %}
  The contents of the page.on-sale.liquid template can be found in /sections/page-on-sale-template.liquid This template file is used for the Sales Page
{% endcomment %}
{% section 'page-on-sale-template' %}
