<script id="job-seo" type="application/ld+json">
{
  "@context" : "http://schema.org/",
  "@type" : "JobPosting",
  "title" : "{% if page.metafields.c_f.job_seo_title %}{{ page.metafields.c_f.job_seo_title }}{% endif %}",
  "description" : "{% if page.metafields.c_f.job_seo_description %}{{ page.metafields.c_f.job_seo_description }}{% endif %}",
  "identifier": {
    "@type": "PropertyValue",
    "name": "Gear Coop",
    "value": "{% if page.metafields.c_f.job_seo_id %}{{ page.metafields.c_f.job_seo_id }}{% endif %}"
  },
  "datePosted" : "{% if page.metafields.c_f.job_seo_date %}{{ page.metafields.c_f.job_seo_date }}{% endif %}",
  "validThrough" : "{% if page.metafields.c_f.job_seo_until %}{{ page.metafields.c_f.job_seo_until }}{% endif %}",
  "employmentType" : "{% if page.metafields.c_f.job_seo_type %}{{ page.metafields.c_f.job_seo_type }}{% endif %}",
  "hiringOrganization" : {
    "@type" : "Organization",
    "name" : "Gear Coop",
    "sameAs" : "https://gearcoop.com/",
    "logo" : "https://cdn.shopify.com/s/files/1/1933/1869/files/Gear-Coop-logo_410x.png?v=1502220204"
  },
  "jobLocation" : {
    "@type" : "Place",
    "address" : {
      "@type" : "PostalAddress",
      "streetAddress" : "3315 Hyland Ave",
      "addressLocality" : "Costa Mesa",
      "addressRegion" : "CA",
      "postalCode" : "92626",
      "addressCountry": "US"
    }
  }
}
</script>
<a name="pagecontent" id="pagecontent"></a>

<div class="sixteen columns page clearfix">
  <h1>
    {{ page.title }}
  </h1>
  <div class="feature_divider"></div>

  <div>
    {% include 'page-multi-column', content: page.content %}
  </div>
</div>
