{% comment %}
  The contents of the page.climbing-apparel.liquid template can be found in /sections/page-snowtober-template.liquid This template file is used for the Climbing Apparel Guide
{% endcomment %}
{% section 'page-snowtober-template' %}
