{% comment %}
  The contents of the page.trail-freedom.liquid template can be found in /sections/page-trail-freedom-template.liquid This template file is used for the Freedom of the Trail
{% endcomment %}
{% section 'page-trail-freedom-template' %}
