{% comment %}
  The contents of the page.climbing-apparel.liquid template can be found in /sections/page-holiday-gift-guide-2018-camping-template.liquid This template file is used for the Holiday Gift Guide 2018 - Camping
{% endcomment %}
{% section 'page-holiday-gift-guide-2018-camping-template' %}
