{% comment %}
  The contents of the page.featured.liquid template can be found in /sections/page-featured-template.liquid This template file is used for custom page collections
{% endcomment %}
{% section 'page-featured-template' %}
