{% comment %}
  The contents of the page.gco.liquid template can be found in /sections/page-gco-template.liquid This template file is used for GCO
{% endcomment %}
{% section 'gco-image-with-text-overlay' %}
{% section 'gco-logo-bar' %}
{% section 'page-gco-template' %}
