{% comment %}
  The contents of the product-full-custom.liquid template can be found in /sections/product-template.liquid
{% endcomment %}

<header class="banner center page_banner page-custom_header product-custom_header dark-overlay-false">
  {% if product.metafields.c_f.product_featured_image %}
  <img class="product-featured-image" src="{{ product.metafields.c_f.product_featured_image }}" data-src="{{ product.metafields.c_f.product_featured_image }}" alt="{{ page.title }}">
  {% endif %}
  <div class="caption caption-background-true caption-transparency-true align-center">
    {% if product.metafields.c_f.product_pretagline %}
    <div class="pretext">
      <p>
        {{ product.metafields.c_f.product_pretagline }}
      </p>
    </div>
    {% endif %}
    <h1 class="headline">
      {{ product.title }}
    </h1>
    {% if product.metafields.c_f.product_tagline %}
    <div class="pretext">
      <p>
        {{ product.metafields.c_f.product_tagline }}
      </p>
    </div>
    {% endif %}
    <a class="action_button" href="#pagecontent">Buy Now</a>
  </div>
</header>

<div class="container content content_one">
  {% if product.metafields.c_f.product_content_one %}
    <div class="center">
      {{ product.metafields.c_f.product_content_one }}
      {% if product.metafields.c_f.product_image_one %}
      <img width="250" src="{{ product.metafields.c_f.product_image_one }}" data-src="{{ product.metafields.c_f.product_image_one }}" alt="{{ page.title }}">
      {% endif %}
    </div>
  {% endif %}
</div>

<div class="container content content_two">
  {% if product.metafields.c_f.product_content_two %}
    <div class="center">
      {{ product.metafields.c_f.product_content_two }}
    </div>
  {% endif %}
</div>

<div class="shopify-section logo-list-section">
  <div class="logo-bar-section container">
    <div class="sixteen columns">
      <div class="section clearfix">
        <div class="logo-bar">
          <div class="logo-bar__item">
            <img width="100px" src="//cdn.shopify.com/s/files/1/1933/1869/files/scarpa_sbs.png?1772950382648714526" alt="scarpa" class="blur-up lazyautosizes lazyloaded">
          </div>
          <div class="logo-bar__item">
            <img width="100px" src="//cdn.shopify.com/s/files/1/1933/1869/files/dps_sbs.png?1772950382648714526" alt="dps" class="blur-up lazyautosizes lazyloaded">
          </div>
          <div class="logo-bar__item">
            <img width="100px" src="//cdn.shopify.com/s/files/1/1933/1869/files/leki_sbs.png?1772950382648714526" alt="leki" class="blur-up lazyautosizes lazyloaded">
          </div>
          <div class="logo-bar__item">
            <img width="100px" src="//cdn.shopify.com/s/files/1/1933/1869/files/bd_sbs.png?1772950382648714526" alt="black diamond" class="blur-up lazyautosizes lazyloaded">
          </div>
          <div class="logo-bar__item">
            <img width="100px" src="//cdn.shopify.com/s/files/1/1933/1869/files/dynafit_sbs.png?1772950382648714526" alt="dynafit" class="blur-up lazyautosizes lazyloaded">
          </div>
          <div class="logo-bar__item">
            <img width="100px" src="//cdn.shopify.com/s/files/1/1933/1869/files/mammut_sbs.png?1772950382648714526" alt="mammut" class="blur-up lazyautosizes lazyloaded">
          </div>
          <div class="logo-bar__item">
            <img width="100px" src="//cdn.shopify.com/s/files/1/1933/1869/files/sparkrandd_sbs.png?1772950382648714526" alt="spark-r-and-d" class="blur-up lazyautosizes lazyloaded">
          </div>
          <div class="logo-bar__item">
            <img width="100px" src="//cdn.shopify.com/s/files/1/1933/1869/files/tnf_sbs.png?15521733723496998229" alt="the north face" class="blur-up lazyautosizes lazyloaded">
          </div>
          <div class="logo-bar__item">
            <img width="100px" src="//cdn.shopify.com/s/files/1/1933/1869/files/arc_sbs.png?15521733723496998229" alt="arc'teryx" class="blur-up lazyautosizes lazyloaded">
          </div>
          <div class="logo-bar__item">
            <img width="100px" src="//cdn.shopify.com/s/files/1/1933/1869/files/fraction_sbs.png?15521733723496998229" alt="fraction" class="blur-up lazyautosizes lazyloaded">
          </div>
          <div class="logo-bar__item">
            <img width="100px" src="//cdn.shopify.com/s/files/1/1933/1869/files/rossignol_sbs.png?15521733723496998229" alt="rossignol" class="blur-up lazyautosizes lazyloaded">
          </div>
          <div class="logo-bar__item">
            <img width="80px" src="//cdn.shopify.com/s/files/1/1933/1869/files/nitro_sbs.png?15521733723496998229" alt="nitro" class="blur-up lazyautosizes lazyloaded">
          </div>
          <div class="logo-bar__item">
            <img width="100px" src="//cdn.shopify.com/s/files/1/1933/1869/files/marmot_sbs.png?15521733723496998229" alt="marmot" class="blur-up lazyautosizes lazyloaded">
          </div>
          <div class="logo-bar__item">
            <img width="100px" src="//cdn.shopify.com/s/files/1/1933/1869/files/stance_sbs.png?15521733723496998229" alt="stance" class="blur-up lazyautosizes lazyloaded">
          </div>
          <div class="logo-bar__item">
            <img width="100px" src="//cdn.shopify.com/s/files/1/1933/1869/files/marker_sbs.png?2908083817826968940" alt="marker" class="blur-up lazyautosizes lazyloaded">
          </div>
          <div class="logo-bar__item">
            <img width="100px" src="//cdn.shopify.com/s/files/1/1933/1869/files/vokol_sbs.png?2908083817826968940" alt="volkl" class="blur-up lazyautosizes lazyloaded">
          </div>
          <div class="logo-bar__item">
            <img width="100px" src="//cdn.shopify.com/s/files/1/1933/1869/files/lasportiva_sbs.png?16347684059534902145" alt="lasportiva" class="blur-up lazyautosizes lazyloaded">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container content content_three">
  <div class="center">
    {% if product.metafields.c_f.product_lastline %}
    <div class="pretext">
      <p class="uppercase">
        {{ product.metafields.c_f.product_lastline }}
      </p>
    </div>
    {% endif %}
    {% if product.metafields.c_f.product_image_two %}
      <img width="200" src="{{ product.metafields.c_f.product_image_two }}" data-src="{{ product.metafields.c_f.product_image_two }}" alt="{{ page.title }}">
    {% endif %}
    {% if product.metafields.c_f.product_image_three %}
      <img width="200" src="{{ product.metafields.c_f.product_image_three }}" data-src="{{ product.metafields.c_f.product_image_three }}" alt="{{ page.title }}">
    {% endif %}
  </div>
</div>

{% if product.metafields.c_f.product_video_url %}
<div class="video-section">
  {% if product.metafields.c_f.product_video_provider %}
  <section class="homepage-video collection-custom_video darken-video-false  placeholder-image--true" data-video-id="video-brand-collection" data-autoplay="false" data-autoloop="false" data-display-text-over-video="false" data-video-src="{{ product.metafields.c_f.product_video_url }}" data-aspect-ratio="16:9" data-provider="{{ product.metafields.c_f.product_video_provider }}" data-video-mp4="" data-video-ogv="">
  {% endif %}
    <div class="homepage-video--media">
      {% if product.metafields.c_f.product_video_image %}
      <img src="{{ product.metafields.c_f.product_video_image }}" alt="Brand Video Section" class="blur-up homepage-video__image lazyloaded" data-play-video="" sizes="100vw" data-src="{{ product.metafields.c_f.product_video_image }}" srcset="
                      {{ product.metafields.c_f.product_video_image }} 1400w,
                      {{ product.metafields.c_f.product_video_image }} 480w,
                      {{ product.metafields.c_f.product_video_image }} 765w,
                      {{ product.metafields.c_f.product_video_image }} 900w,
                      {{ product.metafields.c_f.product_video_image }} 1000w,
                      {{ product.metafields.c_f.product_video_image }} 1100w,
                      {{ product.metafields.c_f.product_video_image }} 1300w,
                      {{ product.metafields.c_f.product_video_image }} 1500w,
                      {{ product.metafields.c_f.product_video_image }} 1700w,
                      {{ product.metafields.c_f.product_video_image }} 1900w,
                      {{ product.metafields.c_f.product_video_image }} 2000w">
      {% endif %}
      <div class="position-center caption js-caption text-on-video">
        <div class="caption-content caption-background-true caption-transparency-true align-center">
          {% if product.metafields.c_f.product_video_preheader %}
          <div class="pretext">
            <p>{{ product.metafields.c_f.product_video_preheader }}</p>
          </div>
          {% endif %}
          {% if product.metafields.c_f.product_video_title %}
          <h1 class="headline">{{ product.metafields.c_f.product_video_title }}</h1>
          {% endif %}
          {% if product.metafields.c_f.product_video_subheader %}
          <div class="subtitle">
            <p>{{ product.metafields.c_f.product_video_subheader }}</p>
          </div>
          {% endif %}
          <a data-play-video-button="" class="action_button first_button highlight-false video__play-button" style="width: 153.984px;">Play Video</a>
        </div>
      </div>
    </div>
  </section>
</div>
{% endif %}

{% section 'product-full-custom-template' %}
