{% paginate customer.orders by 20 %}
  <a name="pagecontent" id="pagecontent"></a>

  <header class="account-header clearfix">
    <div class="eight columns account-header-title">
      <h1>{{ 'customer.account.details' | t }}</h1>
    </div>
    <div class="eight columns account-header-logout">
      <span>{{ 'layout.customer.log_out' | t | customer_logout_link }}</span>
    </div>
  </header>
  <div class="feature_divider"></div>

  <div class="section clearfix">
    <aside class="five columns account-sidebar">
      <h4 class="name">{{ customer.name }}<span><a href="/account?view=edit" style="font-size: 14px;float:right;">{{ shop.metafields.locales.edit }}</a></span></h4>
      <p class="email note">{{ customer.email }}</p>
      <h4 style="border-top: 1px solid #9da7a8;padding-top: 13px;">Primary Address</h4>
      <div class="address note">
        {% if customer.default_address != nil %}
          <p>{{ customer.default_address.address1 }}</p>
          {% if customer.default_address.address2 != "" %}
            <p>{{ customer.default_address.address2 }}</p>
          {% endif %}
          <p>{{ customer.default_address.city}}{% if customer.default_address.province_code %}, {{customer.default_address.province_code}}{% endif %} {{ customer.default_address.zip}}</p>
          <p>{{customer.default_address.country}}</p>
          <p>{{ customer.default_address.phone }}</p>
        {% else %}
          <p>{{ 'customer.addresses.no_addresses' | t }}</p>
        {% endif %}
          <p style="text-align:center;"><a style="color: white;font-weight: 400;width: 100%;background: #df611c;display: block;padding: 5px;" href="/account/addresses">Edit / {{ 'customer.account.view_addresses' | t }} ({{ customer.addresses_count }})</a></p>
      </div>
    </aside>
    <main class="eleven columns account-main">
      <div id="customer_orders">
        <h4>{{ 'customer.orders.title' | t }}</h4>

        {% if customer.orders.size != 0 %}
        <table width="100%">
          <thead>
            <tr>
              <th>{{ 'customer.orders.order_number' | t }}</th>
              <th>{{ 'customer.orders.date' | t }}</th>
              <th>{{ 'customer.orders.payment_status' | t }}</th>
              <th>{{ 'customer.orders.fulfillment_status' | t }}</th>
              <th>{{ 'customer.orders.total' | t }}</th>
            </tr>
          </thead>
          <tbody>
            {% for order in customer.orders %}
              <tr class="{% cycle 'odd', 'even' %} {% if order.cancelled %}cancelled_order{% endif %}">
                  <td>{{ order.name | link_to: order.customer_url }}</td>
                  <td>{{ order.created_at | date: format: "month_day_year" }}</td>
                  <td>{{ order.financial_status_label }}</td>
                  <td>{{ order.fulfillment_status_label }}</td>
                  <td>
                    <span class="money">{{ order.total_price | money }}</span>
                  </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
        {% else %}
          <p>{{ 'customer.orders.none' | t }}</p>
        {% endif %}

        {% include 'pagination' with true %}
      </div>
    </main>
  </div>
{% endpaginate %}
