<!-- Begin MailChimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">
	<form action="https://gearcoop.us6.list-manage.com/subscribe/post?u=9c1910151d2eeb138279baf98&amp;id=51068e94ee" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
		<div id="mc_embed_signup_scroll">
			<h2>Subscribe to our mailing list</h2>
			<div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
			<div class="mc-field-group">
				<label for="mce-FNAME">First Name  <span class="asterisk">*</span>
				</label>
				<input type="text" value="" name="FNAME" class="required" id="mce-FNAME">
			</div>
			<div class="mc-field-group">
				<label for="mce-LNAME">Last Name  <span class="asterisk">*</span>
				</label>
				<input type="text" value="" name="LNAME" class="required" id="mce-LNAME">
			</div>
			<div class="mc-field-group">
				<label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
				</label>
				<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
			</div>
			<div class="mc-field-group input-group">
				<strong>Singup Location </strong>
				<ul><li><input type="checkbox" value="1" name="group[12569][1]" id="mce-group[12569]-12569-0"><label for="mce-group[12569]-12569-0">RR11</label></li>
					<li><input type="checkbox" value="2" name="group[12569][2]" id="mce-group[12569]-12569-1"><label for="mce-group[12569]-12569-1">VIP RR11</label></li>
					<li><input type="checkbox" value="4" name="group[12569][4]" id="mce-group[12569]-12569-2"><label for="mce-group[12569]-12569-2">Van Life</label></li>
					<li><input type="checkbox" value="8" name="group[12569][8]" id="mce-group[12569]-12569-3"><label for="mce-group[12569]-12569-3">SheepPass JTree</label></li>
					<li><input type="checkbox" value="16" name="group[12569][16]" id="mce-group[12569]-12569-4"><label for="mce-group[12569]-12569-4">FB Mail</label></li>
					<li><input type="checkbox" value="2048" name="group[12569][2048]" id="mce-group[12569]-12569-5"><label for="mce-group[12569]-12569-5">VanLife2</label></li>
					<li><input type="checkbox" value="4096" name="group[12569][4096]" id="mce-group[12569]-12569-6"><label for="mce-group[12569]-12569-6">Avi Course</label></li>
					<li><input type="checkbox" value="8192" name="group[12569][8192]" id="mce-group[12569]-12569-7"><label for="mce-group[12569]-12569-7">SoCal Backcountry</label></li>
					<li><input type="checkbox" value="16384" name="group[12569][16384]" id="mce-group[12569]-12569-8"><label for="mce-group[12569]-12569-8">Magento</label></li>
					<li><input type="checkbox" value="32768" name="group[12569][32768]" id="mce-group[12569]-12569-9"><label for="mce-group[12569]-12569-9">Store</label></li>
					<li><input type="checkbox" value="65536" name="group[12569][65536]" id="mce-group[12569]-12569-10"><label for="mce-group[12569]-12569-10">Banff2017</label></li>
					<li><input type="checkbox" value="131072" name="group[12569][131072]" id="mce-group[12569]-12569-11"><label for="mce-group[12569]-12569-11">National Park Week Giveback</label></li>
					<li><input type="checkbox" value="262144" name="group[12569][262144]" id="mce-group[12569]-12569-12"><label for="mce-group[12569]-12569-12">RR12 - Guests</label></li>
					<li><input type="checkbox" value="524288" name="group[12569][524288]" id="mce-group[12569]-12569-13"><label for="mce-group[12569]-12569-13">Newsletter Sign-Up Website</label></li>
					<li><input type="checkbox" value="1048576" name="group[12569][1048576]" id="mce-group[12569]-12569-14"><label for="mce-group[12569]-12569-14">RR12 Invites</label></li>
					<li><input type="checkbox" value="2097152" name="group[12569][2097152]" id="mce-group[12569]-12569-15"><label for="mce-group[12569]-12569-15">Ambassadors</label></li>
					<li><input type="checkbox" value="4194304" name="group[12569][4194304]" id="mce-group[12569]-12569-16"><label for="mce-group[12569]-12569-16">Socal Backcountry Session 2017</label></li>
					<li><input type="checkbox" value="8388608" name="group[12569][8388608]" id="mce-group[12569]-12569-17"><label for="mce-group[12569]-12569-17">Access Fund Customers</label></li>
				</ul>
			</div>
			<div class="mc-field-group input-group">
				<strong>Guide Books </strong>
				<ul><li><input type="checkbox" value="16777216" name="group[12585][16777216]" id="mce-group[12585]-12585-0"><label for="mce-group[12585]-12585-0">JTree Guide</label></li>
					<li><input type="checkbox" value="33554432" name="group[12585][33554432]" id="mce-group[12585]-12585-1"><label for="mce-group[12585]-12585-1">Boulder Canyon</label></li>
					<li><input type="checkbox" value="67108864" name="group[12585][67108864]" id="mce-group[12585]-12585-2"><label for="mce-group[12585]-12585-2">Clear Creek</label></li>
					<li><input type="checkbox" value="134217728" name="group[12585][134217728]" id="mce-group[12585]-12585-3"><label for="mce-group[12585]-12585-3">Rock &amp; Ice</label></li>
					<li><input type="checkbox" value="268435456" name="group[12585][268435456]" id="mce-group[12585]-12585-4"><label for="mce-group[12585]-12585-4">Santa Monicas</label></li>
				</ul>
			</div>
			<div id="mce-responses" class="clear">
				<div class="response" id="mce-error-response" style="display:none"></div>
				<div class="response" id="mce-success-response" style="display:none"></div>
			</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
			<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_9c1910151d2eeb138279baf98_51068e94ee" tabindex="-1" value=""></div>
			<div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
		</div>
	</form>
</div>
<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[3]='FNAME';ftypes[3]='text';fnames[4]='LNAME';ftypes[4]='text';fnames[2]='MMERGE2';ftypes[2]='text';fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='MMERGE8';ftypes[1]='zip';fnames[5]='MMERGE5';ftypes[5]='text';fnames[6]='MMERGE6';ftypes[6]='text';fnames[7]='MMERGE7';ftypes[7]='text';fnames[8]='NUM';ftypes[8]='text';fnames[9]='TICKET';ftypes[9]='text';fnames[10]='EVNT_NUM';ftypes[10]='text';fnames[11]='EVNT_TITLE';ftypes[11]='text';fnames[12]='EVNT_START';ftypes[12]='date';fnames[13]='EVNT_END';ftypes[13]='date';fnames[14]='EVNT_LOC';ftypes[14]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
<!--End mc_embed_signup-->
