span {
  &[data-shipping-method-label-title] {
    font-weight: 900;
    &:after {
      display: block;
      position: relative;
      font-size: 10px;
      font-weight: 400;
    }
  }
  &[data-shipping-method-label-title="Standard Shipping"]:after {
    content: 'Delivers within 5 - 8 business days';
  }
  &[data-shipping-method-label-title="Expedited Shipping"]:after {
    content: 'Delivers within 2 - 3 business days';
  }
  &[data-shipping-method-label-title="Priority Shipping"]:after {
    content: 'Delivers within 1 - 2 business days';
  }
}
.gravatar, .product-thumbnail:after , input, select, button, .content-box {
  border-radius: 1px!important;
}
.product-thumbnail__quantity {
  padding: 0.17em 0.65em;
}
.btn {
  padding: 10px 20px;
  // height: 40px;
  .btn__content {
    text-transform: uppercase;
    font-weight: normal;
    letter-spacing: 1px;
  }
}
/*Discount*/
span[data-checkout-discount-amount-target="0"] {
  display: none;
}
/*PO Box*/
.pobox-notification {
  padding: 10px 0;
  font-size: 12px;
  letter-spacing: .5px;
}
.pobox-disable {
  pointer-events: none;
  cursor: default;
  background: #F2F3F3;
  border-radius: 1px;
  > div {
    opacity: .5;
    label {
      text-decoration: line-through;
    }
  }
}
