#klaviyo-bis-modal {
  #container {
    border-radius: 0;
    form {
      .form-group:nth-child(1) {
        display: none;
      }
      button {
        font-weight: normal;
        font-size: 14px;
        text-transform: uppercase;
        letter-spacing: 2px;
        border-radius: 1px;
        &:hover {
          background: #e77c42;
        }
      }
    }
  }
  .modal-title {
    line-height: 1.2;
    letter-spacing: 1px;
    font-weight: bold;
  }
}
